
<!-- <template name="loginsocial">
	{{#if currentUser}}
		{{currentUser.profile.name}} 
		<button id="logout">Logout</button>
	{{else}}
		<input type = "button" id="twitter-login" class = "btn btn-primary text-besides-image sign-in-text-twitter"  value = "Login with Twitter "/>
	{{/if}}
	{{#if currentUser}}
        {{currentUser.services.facebook.name}} -
        {{currentUser.services.facebook.gender}}
        <button id="logout">Logout</button>
    {{else}}
        <button id="facebook-login" class="btn btn-default"> Login with Facebook</button>
    {{/if}}
    {{#if currentUser}}
        {{currentUser.services.google.name}}
        <button id="logout">Logout</button>
    {{else}}
        <button id="google-login" class="btn btn-default"> Login with Google</button>
    {{/if}}
    {{#if currentUser}}
        {{currentUser.services.google.name}}
        <button id="logout">Logout</button>
    {{else}}
        <button id="insta-login" class="btn btn-default"> Login with Instagram</button>
    {{/if}}
</template> -->

