<template name="test">
									
	<div class="col-sm-8">
									<input type="file"  name="file" id="file" value="" class="form-control input-sm" placeholder="banner" style="height: 15%;">
									<div class="col-md-12">
										<span><br>Height:<strong>1300px </strong></span>
										<span>Width:<strong>620px</strong></span>
									</div>
									{{#if imageId}}
										<img src="{{getImg imageId}}" alt="banner" width="90" height="90" style="margin-top:15px;">
									{{else}}
										<img src="{{getImg getImgBrous}}" alt="banner" width="90" height="90" style="margin-top:15px;">
									{{/if}}
								</div>
									
</template>