<template name="silvermen">
		<div class="container" id="bg_pro_silver">
			<a href="/profile">
				<div class="col-xs-6 col-sm-4 col-lg-4"><img class="img-responsive" src="images/pro_my_nothover.png"/></div>
			</a>
			<div class="col-xs-6 col-sm-4 col-lg-4"><img class="img-responsive" src="images/pro_mem_hover.png"/></div>
			<div class="col-xs-6 col-sm-4 col-lg-4"><img class="img-responsive" src="images/pro_re.png"/></div>
			<div class="clearfix"></div>
			<br>
			<br>
			<br>
			<div class="container-box">
			
				<div class="pull-right">
					<h1 style="font-weight:bold" class="pull-right"><img class="img-responsive" src="images/title_silver.png" width="250"></h1>
					<div class="clearfix"></div>
					<img class="img-responsive" src="images/hrsilver.png">
					<p style="font-size:16px" class="text-right">You require <b>130</b> additional dollards to reach Silver</p>
				</div>
				
				<div class="clearfix"></div>
				<div class="col-md-12 center-block black_silver_gold">
					<img class="img-responsive" src="images/black_silver_gold.png">
				</div>
				<div class="col-md-12 center-block" style="height:180px; margin-top:5px;">
					<div class="col-xs-12 col-sm-6 col-lg-7"><img class="img-responsive pull-right" src="images/gift.png" width="200"></div>
						<br><br>
					<div class="col-xs-12 col-sm-6 col-lg-5">
					Write the information that is gained
					when one is silver or gold
					</div>
				</div>
				<p style="font-size:16px" class="text-right">You require <b>130</b> additional dollards to reach Silver</p>
				<div class="col-md-12 center-block des_reply_mes">
					<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
						<img class="img-responsive" src="images/des_reply_mes.png">
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<br><br>
			<br><br>
			<br><br>
			<br><br>
		</div>	
</template>	