<template name="blackwomen">		
	<div class="container">
	<a href="/profile">
		<div class="col-xs-12 col-sm-4 col-lg-4"><img class="img-responsive" src="images/pro_my_nothover.png"/></div>
	</a>
	<div class="col-xs-12 col-sm-4 col-lg-4"><img class="img-responsive" src="images/pro_mem_hover.png"/></div>
	<div class="col-xs-12 col-sm-4 col-lg-4"><img class="img-responsive" src="images/pro_re.png"/></div>
	<div class="clearfix"></div>
	<br>
	<br>
	<br>
	<div class="container-box">
	<img class="img-responsive" src="images/title_black_women.png">
	<p style="font-size:16px; margin-top:25px;" class="text-right">You require <b>130</b> additional dollards to reach Silver</p>

	<div class="clearfix"></div>
	<img class="img-responsive" src="images/black_silver_gold_women.jpg">
	<div class="col-md-12 center-block" style="height:180px; margin-top:5px;">
		<div class="col-xs-12 col-sm-6 col-lg-6"><img class="img-responsive center-block" src="images/gift.png" width="250"></div>
			<br><br>
		<div class="col-xs-12 col-sm-6 col-lg-6">
		Write the information that is gained
		when one is silver or gold
		</div>
	</div>
	<p style="font-size:16px" class="text-right">You require <b>130</b> additional dollards to reach Silver</p>
	<img class="img-responsive" src="images/dis_rep_mes.jpg">
	</div>
	<div class="clearfix"></div>
	<br><br>
	<br><br>
	<br><br>
	<br><br>
	</div>	
</template>