/* C-SLIDER */

.space-top{
	margin-top: 30px;
}
.wrapper-text-pro{
	margin-top: 50px;
}
.pro-top-color{
	color: #fc252b;
	font-size: 12px;
	font-weight: 700;
}
.text-second-color{
	margin-top: 23px;
	font-size: 14px;
}
.text-second-color-a{
	margin-top: 20px;
	font-size: 14px;
	color: #cccccc;
}
.wrapper-icon{
	margin-top: 10px;
	float: left;
}
.fa-facebook{
	color: #cccccc;

}
.fa-twitter{
	color: #cccccc;
	padding-left: 20px;
}