n-bottom:20px;
}

.clearout {
height:20px;
clear:both;
}

#flexiselDemo2, #flexiselDemo4, #flexiselDemo5 {
display:none;
}

.nbs-flexisel-container {
    position:relative;
    max-width:100%;
}
.nbs-flexisel-ul {
    position:relative;
    width:99999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
}

.nbs-flexisel-inner {
    overflow:hidden;
    float:left;
    width:100%;
    /*background: #fcfcfc -moz-linear-gradient(top, #fcfcfc 0%, #eee 100%);*/ /* FF3.6+ */
    -moz-border-radius:5px;
    -webkit-border-radius:5px; 
    padding-top:30px; 
}

.nbs-flexisel-item {
    float:left;
    height:270px;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
   /* line-height:0px;*/
}
.nbs-flexisel-item img {
    /*width: 100%;*/
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 228px;
    max-height: 245px;
    /*border-radius: 50%;
    border: 8px solid black;	*/
}

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width: 22px;
    height: 60px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    opacity: 0.5;
}

.nbs-flexisel-nav-left {
    left: -50px;
    background: url(../images/button-previous.png) no-repeat;
}

.nbs-flexisel-nav-right {
    right: -50px;
    background: url(../images/button-next.png) no-repeat;
}
.buttons{ 
	margin-bottom: 140px;
}

.IGF .ig-background {
    font-size: 10px !important;
    white-space: nowrap !important;
    display: none !important;
}

/*Confirm order*/
.banner_chien{
height: 10px;
margin-bottom: -18px;
background: transparent -moz-linear-gradient(center top , #DDD, #F7F7F7 3px, #FFF) repeat scroll 0% 0%;
filter: none;
z-index: 0;
}
/*End*/

/*Style in menu_fullWidth */

.newClass{
    width: 90% !important;
}

/*Add style by chien 22/02/2016*/

.slider-tick {
    position: absolute;
    width: 0px !important;
    height: 20px !important;
    background-image: linear-gradient(to bottom, #F9F9F9 0px, #F5F5F5 100%) !important;
    background-repeat: repeat-x;
    box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.15) inset !important;
    box-sizing: border-box;
    filter: none;
    opacity: 0.8 !important;
    border: 0px solid transparent !important;
}

/*Add style by chien 23/02/2016*/
.gp_products_carousel_control_icons{
    font-size: 20px !important;
    line-height: 65px;
    
}
.gp_products_carousel_control_icons:hover{
    background: #ccc;
    width:30px;
    transition: all 1s ease 0s;
}


/*Add style by chien 27/02/2016*/
ul.dropdown-menu li a:hover{
    color: #fff !important;
}

/*.glyphicon {
    position: relative !important;
    top: -16px !important;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: black;
    /*margin-left: 60px !important;
}*/

/*Add style by chien 27/02/2016*/
.space-top-star:hover {
    color: #fcd821;
}
.glyphicon {
    position: relative;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: black;
    color: white;
    /*text-decoration: none;*/
    list-style: none;
    margin-top: 1px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 6px 16px;
    /*text-decoration: none !important;*/
    display: block;
}
.dropdown-content a:hover{
    color: white;
    padding: 6px 16px;
    /*text-decoration: none !important;*/
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
    color: white;
}

 /*style in suggest pages*/
.well-suggest {
background-color: #363639;
border: 0 solid #363639;
border-radius: 0;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
margin-bottom: 20px;
min-height: 20px;
padding: 1px;
color: #fff;
font-weight: bold;
}

