/* page product detail */
	.hold_product_detail{
		padding:25px;
		overflow:hidden;
	}
		.hold_description{ padding:25px;}
		.hold_description h3{ margin-bottom:35px;}
		.hold_description img{ margin-bottom:15px;}
		
		.hold_add_tocart{ margin:0px; padding:0px}
		.hold_cart{
			padding-top:60px;
			margin-bottom:-10px;
			background:url("../images/bg_card-01.svg");
			background-size: 290px;
    		overflow: hidden;
			padding-bottom: 20px;
			
		}
			.bg_hold_cart h1.bold_big{ margin-top:25px;}
			.hold_cart #lbl_add_cart{
				padding-right: 15px;
				font-weight:normal;
				font-size:14px;
				
				/*font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;*/
				}
			.hold_cart #qty select{
				/*font-family: inherit;*/
				font-size: inherit;
				line-height: inherit;
				border:1px solid #333; 
				border-radius:5px; 
				padding:2px 8px; 
				font-size:14px;
				text-transform: none;
				background:none;
				color:#333;
			}
			.hold_cart #contry select{
				/*font-family: inherit;*/
				font-size: inherit;
				line-height: inherit;
				border:1px solid #333; 
				border-radius:5px; 
				padding:2px 8px; 
				font-size:14px;
				text-transform: none;
				margin-bottom:15px;
				width:100%;
				background:none;
				color:#333;
			}
			.hold_cart .btn_add_cart{
				border-radius: 0px;
				text-align: center;
				font-weight: bold;
				color: #FFF;
				padding: 5px;
				/*font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;*/
				font-stretch: normal;
				margin: 0px;
				font-size:10px;
				background: transparent linear-gradient(to bottom, #FF0505 0%, #8F0222 99%) repeat scroll 0% 0%;
			}
		.hold_add_tocart .social_share{ padding:0px 15px; margin:0px auto}
			.social-icon
			{
				padding-top: 6px;
				font-size: 16px;
				text-align: center;
				width: 32px;
				height: 32px;
				border: 2px solid #777;
				border-radius: 50%;
				color: #777;
				margin: 5px;
			}

			a.social-icon:hover, a.social-icon:active, a.social-icon:focus
			{
				text-decoration: none;
				color: #434343;
				border-color: #434343;
			}
		.hold_feedback{
			margin:15px;
			overflow:hidden;
			border-bottom:2px solid #333;
		}
		.space-img{
			margin-top: 15px;
		}
		.space-text{
			margin-top: 15px;
		}
		.h2-bold{
			font-weight: 400;
		}
		.space-arctical{
			margin-top: 30px;
		}
		#artical_about_lip .hold_product_detail .well{
			background:#E2E4DD;
		}
		#artical_about_lip .hold_product_detail{
			margin-top: 50px;
		}
		#artical_about_lip .hold_product_detail p{
			font-size: 13px;
		}
		#forum_question .wrapper_forum{
			padding: 0 50px 0 50px;
		}
		#forum_question .row{
            margin-top: 30px;
		}
		.space_weekly{
			padding-top: 15px;
		}
		.btn-black {
		    background-color: #000000;
		    border-color: #000000;
		    color: #fff;
		}
		/*.btn {
		    -moz-user-select: none;
		    background-image: none;
		    border: 1px solid transparent;
		    border-radius: 4px;
		    cursor: pointer;
		    display: inline-block;
		    font-size: 25px;
		    font-weight: 400;
		    line-height: 1.42857;
		    margin-bottom: 0;
		    padding: 6px 12px;
		    text-align: center;
		    vertical-align: middle;
		    white-space: nowrap;
		}*/
		.space_btn{
			/*padding-bottom:30px;*/
		}
		.filter_set{
			width:auto;
			height:200px;
			margin: 0 auto;
		}
		#show-text {
		    display: none;
		}
		#show-text, #show {
		    cursor: pointer;
		}
		.bd_like{
		    border-left: 3px solid #1cabe2;
		}

/* page like */
/* page recommend */

.linkrecommendation{
	color:#000;
}

a.linkrecommendation{
	color:#000;
}

a.linkrecommendation:visited{
	color:#000;
}

