.hold_btn_filter_view{
	/*margin-bottom:50px;*/
	overflow:hidden;
	padding:15px 15px 15px 0px ;
}
.hold_btn_filter_view .btn-filter-view{

	border-radius: 0px;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.42857;
	margin-bottom: 0px;
	padding: 6px 12px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	background:#fff;
	/*font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;*/
	box-shadow: 2px 4px 5px 1px rgba(189, 184, 197, 0.4);
	-moz-box-shadow: 2px 4px 5px 1px rgba(189, 184, 197, 0.4);
	-webkit-box-shadow: 2px 4px 5px 1px rgba(189, 184, 197, 0.4);
}
.octofilter-container > .nav > li > a{
	text-align:center;
	color:#333;
	/*font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;*/
} 
.octofilter-container > .nav > li > a:hover{
	color:#1cabe2;
	background:#ccc url("../images/system/filter_view_hover.png") no-repeat scroll right center;
} 
p.purchased{
	color:#333;
	font-weight: bold;
	font-size: 14px;
	padding-left:15px;
}
span.purchased{
	color:#1cabe2;
	font-weight: bold;
	font-size: 18px;
	padding-left:15px;
}
input{
		height:40px;
	}
  .octofilter-input input {
    border: none;
    margin: 3px 3px 0;
    padding: 0px; 
	}
	
	form.select1{
		background:;
		box-shadow: 1px 1px 2px #888;
	}
/* Label
   ============================================================ */
	.octofilter-label {
		color: red;
		border-width:2px;	
		border-style:dashed;
		border-color:red;
		margin: 3px 3px 0 0;
		display: inline;
		border-radius:12px;
	}
	.octofilter-label .octofilter-clear {
		color: #fff;
		cursor: pointer;
		margin-left: 6px; 
	}

/* Container
   ============================================================ */
	.octofilter-container {
		background: #FFF none repeat scroll 0% 0%;
		width: 95%;
		padding: 15px 0px;
		display: none;
		position: absolute;
		right: 0px;
		z-index: 2;
		/*box-shadow: 1px 1px 2px #888;*/
		margin: 0px 30px 15px 40px !important;
		box-shadow: 2px 4px 5px 1px rgba(189, 184, 197, 0.4);
		-moz-box-shadow: 2px 4px 5px 1px rgba(189, 184, 197, 0.4);
		-webkit-box-shadow: 2px 4px 5px 1px rgba(189, 184, 197, 0.4);
	}

/* Not Found
   ============================================================ */
	.octofilter-not-found {
		color: #c3c3c3;
	}

/* Tab Content
   ============================================================ */
	.octofilter-container .tab-content {
	  padding: 10px;
	}
	.octofilter-container .tab-content .tab-pane {
		display: none; 
	}
	.octofilter-container .tab-content .tab-pane.active {
		 display: block; 
	}
	.octofilter-container .tab-content .tab-pane a {
		color: #2bb3e7;
		cursor: pointer;
		border-radius: 2px;
		margin: 2px;
		padding: 2px 5px;
		display: inline-block; }
	.octofilter-container .tab-content .tab-pane a.octofilter-active {
		color: #fff;
		background: #2bb3e7; 
	}
	.octofilter-container .tab-content .tab-pane a.octofiltered {
		color: #c3c3c3;
		background: none; 
	}

/*# sourceMappingURL=jquery-octofilter.css.map */
	.roler_search_me{
		border-left: 3px solid #29abe2;
		height: 130px;
	}
	input.search-query {
		padding-left:27px;
		/*background-image: url(http://getbootstrap.com/2.3.2/assets/img/glyphicons-halflings.png);*/
	}
		form.form-search {
		position: relative;
	}
	
	/*-----------------------------------Kimhieng Dropdown of MORE REVIEWS in Women Page-------------------------------------------------*/
 .octofilter-input {
    border: none;
    margin: 3px 3px 0;
    padding: 0px; 
	}
/* Label
   ============================================================ */
	.octofilter-label {
		color: #1cabe2;
		border-width:2px;	
		border-style:dashed;
		border-color:#1cabe2;
		margin: 10px;
		display: inline;
		border-radius:5px;
		font-weight: bold;
		/*padding: 5px 15px 5px 15px !important;*/
		padding: 0px 10px 3px !important;
	}
	.octofilter-label .octofilter-clear {
		color: #1cabe2;
		cursor: pointer;
		margin:0px 0px 0px 10px !important; 
	}

/* Not Found
   ============================================================ */
.octofilter-not-found {
  color: #c3c3c3; }
/* Tab Content
   ============================================================ */
	.octofilter-container .tab-content {
	  padding: 10px;
	}
	.octofilter-container .tab-content .tab-pane {
		display: none; 
	}
	.octofilter-container .tab-content .tab-pane.active {
		 display: block; 
	}
	.octofilter-container .tab-content .tab-pane a {
		/*color: #fff;*/
		color:#42210b;
		cursor: pointer;
		border-radius: 2px;
		margin: 2px;
		padding: 2px 5px;
		display: inline-block;
		font-weight:bold;
	}
	.octofilter-container .tab-content .tab-pane a.octofilter-active {
		background: #2bb3e7;
	}
	.octofilter-container .tab-content .tab-pane a:hover.octofilter-active {
		color: #fff;
	}
	.octofilter-container .tab-content .tab-pane a.octofiltered {
		/*color: #42210b;*/ 
		color:#1cabe2;
		font-weight:bold;
	}
/*# sourceMappingURL=jquery-octofilter.css.map */