#squarespaceModal .modal-lg {
    width: 900px;
}

#squarespaceModal .modal-content {
    position: relative;
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0px;
    outline: 0px none;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
}

#squarespaceModal .modal-header {
    min-height: 10.4286px;
    padding: 20px;
    border-bottom: 1px solid #fff;
}

#squarespaceModal .modal-header .close {
    margin-top: -8px;
    margin-right: -8px;
}

#squarespaceModal .close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0px 1px 0px #FFF;
    opacity: 1;
}

#squarespaceModal .modal-content .modal-body {
    position: relative;
    padding: 25px 65px 25px 25px;
	overflow:hidden;
}

#squarespaceModal .modal-content .modal-body .btn{
	font-size:16px;
	/*font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;*/
    font-stretch: normal;
	padding: 6px 15px;
	margin:15px 0px;
}

#squarespaceModal .modal-content .modal-body h2.title-form {
    font-weight:bold;
}

#squarespaceModal .modal-content .modal-body .hold_input_login{
    padding:25px 100px;
}

#squarespaceModal .modal-content .modal-body .hold_input_login label{
    font-weight:normal;
}

#squarespaceModal .modal-content .modal-body .hold_input_login input{
    border:1px solid #333;
	border-radius:0px;
}

#squarespaceModal .modal-content .modal-body .hold_input_login input.form-control{
    height:35px;
}

/* register */

#squarespaceModal .modal-content .modal-body .hold_input_register{
	padding-left:50px;
	padding-top:25px;
}

#squarespaceModal .modal-content .modal-body .hold_input_register label{
    font-weight:normal;
}

#squarespaceModal .modal-content .modal-body .hold_input_register input{
    border:1px solid #333;
	border-radius:0px;
}

#squarespaceModal .modal-content .modal-body .hold_input_register input.form-control{
    height:28px;
}

