
/* header font family */

a{
  color:black;
}

ul li {
  list-style: none;
}

a:hover {
outline: none;
text-decoration:none;
}

a:focus {
  outline:none;
  outline-offset: 0;
}
a:visited {
  outline:none;
  outline-offset: 0;
  background:none;
}
.btn:hover, 
.btn:focus{
  outline: none;
  box-shadow: none;
}

.navbar-toggle {
  background-color: #000;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: none;
}

/*************************
*******Header CSS******
**************************/
#header{
	margin-bottom:15px;
}
.header_top {
  background: none repeat scroll 0 0 #000;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.header_top_left ul li:first-child{
    margin-left: -15px;
}
.header_top_left ul li a{
  font-size: 14px;
  color: #fff;
}
.header_top_left ul li a:hover{
	background:inherit;
}


.header_top_right ul li a{
  font-size: 14px;
  color: #fff;
}
.header_top_right ul li a:hover{
	background:inherit;
}
.header_top_right ul li a i{
	background:inherit;
	color:#e4332a;
}
.header_middle{
  padding-top: 45px;
}

.header_middle .container .row {
    margin-left: 0px;
    margin-right: 0px;
    padding:0px;
}
.search{
	margin:10px 0px;
	position: relative;
	overflow:hidden;
}
.search .input-group{
	
}
.search .input-group-addon{
  background: #000;
  border:1px solid #000;
}
.fa-search, .fa-bars{
  color:#fff;
}

.search .input-group-btn:last-child > .btn {
    
    margin-left: 5px;
	background:#000;
	color:#fff;
}
.search input[type="text"] {
    padding: 10px;
    outline: medium none;
    color: #B6B2AE;
    background: #000 none repeat scroll 0% 0%;
    border: 1px solid #000;
	 margin-right:5px;
	 width:100%;
}
.search button[type="submit"] {
    background: #000 url("../images/system/search.png") no-repeat scroll 30px 5px;
    padding: 10px;
    border: medium none;
    cursor: pointer;
    position: absolute;
	border: 1px solid #000;
    outline: medium none;
	border-radius:0px;
	margin-top: 5px;
	width:100%;
}



.padding-right {
  padding-right: 0;
}

.features_items{
	overflow:hidden;
}


h2.title {
  color: #FE980F;
  font-size: 18px;
  font-weight: 700;
  margin: 0 15px;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}

.product-image-wrapper{
	border:1px solid #F7F7F5;
	overflow: hidden;
	margin-bottom:30px;
}

.single-products {
  position: relative;
}

.new, .sale {
  position: absolute;
  top: 0;
  right: 0;
}

.productinfo h2{
	color: #FE980F;
	font-size: 24px;
	font-weight: 700;
}
.product-overlay h2{
	color: #fff;
	font-size: 24px;
	font-weight: 700;
}


.productinfo p{

  font-size: 14px;
  font-weight: 400;
  color: #696763;
}

.productinfo img{
  width: 100%;
}

.productinfo{
 position:relative;
}

.product-overlay {
  background:#FE980F;
  top: 0;
  display: none;
  height: 0;
  position: absolute;
  transition: height 500ms ease 0s;
  width: 100%;
  display: block;
  opacity:;
}

.single-products:hover .product-overlay {
  display:block;
  height:100%;
}


.product-overlay .overlay-content {
  bottom: 0;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.product-overlay .add-to-cart {
  background:#fff;
  border: 0 none;
  border-radius: 0;
  color: #FE980F;
  font-size: 15px;
  margin-bottom: 25px;
}

.product-overlay .add-to-cart:hover {
  background:#fff;
  color: #FE980F;
}


.product-overlay p{
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}


.refine_menu .nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #fff;
}
/*************************
******* Home ******
**************************/
#slider {
	padding-bottom:45px;
}
/*.hbg{
	background-size:1360px 1000px;
	background: url('../images/system/bg-home.svg') no-repeat scroll center bottom;
}*/
#trendy_product, #best_selling_product{
	margin-bottom:25px;
}
#season_product{
	margin-bottom:100px;
}
h1{

	font-size:36px;
	font-weight:700;
	margin-bottom:40px;
	padding:0px;
}
/*************************
******* Products Listing  ******
**************************/
.top_product{
	padding:0px 15px;
	margin-bottom:15px;
	overflow:hidden;
}
.top_product p.blue{
	color: #1CABE2;
	font-weight: bold;
}
.top_product p.black{
	color: #333;
	font-weight: bold;
}
.hproduct{
	margin-bottom:50px;
}
.hproduct .thumbnail{
	border:0px solid #fff;
	background:none;
}
.hproduct .thumbnail img{
	border:8px solid #000;
	background:none;
}
.hproduct .title{
	color: #000;
	font-size: 1em;
}
.hproduct .price{
	color: #000;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none;
}
.hold-title{
	width: 100%; 
	margin-bottom:10px;
	overflow: hidden
}
.hold-price{
	width: 100%; height: 30px; overflow: hidden;
	margin-top:15px;
}
.hproduct span.red{
	color:#e4332a;
}
.hproduct span:hover{
	color:#e4332a;
}


#footer{
	background:#151414;
	color:#fff;
	text-align:right;
}

.search .input-group-btn:last-child > .btn {
  background:#000;
  color:#fff;
  padding-bottom: 0px;
}
.search input[type="text"] {
    padding: 10px;
    outline: medium none;
    color: #B6B2AE;
    background: #000 none repeat scroll 0% 0%;
    border: 1px solid #000;
  margin-right:5px;
  width:100%;
  height:37px;
}
.search button[type="submit"] {
    background: #000 url("../images/system/search.png") no-repeat scroll 30px 5px;
    padding: 10px;
    border: medium none;
    cursor: pointer;
    position: absolute;
  border: 1px solid #000;
    outline: medium none;
  border-radius:0px;
  margin-top: 5px;
  width:100%;
}
.kesearch{
  height: 37px;
}
.enamad {background: rgb(255, 255, 255) none repeat scroll 0% 0%;
border-radius: 5px;}
enamad

/*
*******Header CSS******
**************************/
#header{
	margin-bottom:15px;
}
.header_top {
  background: none repeat scroll 0 0 #000;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.header_top_left ul li:first-child{
    margin-left: -15px;
}
.header_top_left ul li a{
  font-size: 14px;
  color: #fff;
}
.header_top_left ul li a:hover{
	background:inherit;
}


.header_top_right ul li a{
  font-size: 14px;
  color: #fff;
}
.header_top_right ul li a:hover{
	background:inherit;
}
.header_top_right ul li a i{
	background:inherit;
	color:#e4332a;
}
.header_middle{
  padding-top: 45px;
}

.header_middle .container .row {
    margin-left: 0px;
    margin-right: 0px;
    padding:0px;
}
.search{
	margin:10px 0px;
	position: relative;
	overflow:hidden;
}
.search .input-group{
	
}
.search .input-group-btn:last-child > .btn {
    
    margin-left: 5px;
	background:#000;
	color:#fff;
}
.search input[type="text"] {
    padding: 10px;
    outline: medium none;
    color: #B6B2AE;
    background: #000 none repeat scroll 0% 0%;
    border: 1px solid #000;
	margin-right:5px;
	width:100%;
}
.search button[type="submit"] {
    background: #000 url("../images/system/search.png") no-repeat scroll 30px 5px;
    padding: 10px;
    border: medium none;
    cursor: pointer;
    position: absolute;
	border: 1px solid #000;
    outline: medium none;
	border-radius:0px;
	margin-top: 5px;
	width:100%;
}



.padding-right {
  padding-right: 0;
}

.features_items{
	overflow:hidden;
}


h2.title {
  color: #FE980F;
  font-size: 18px;
  font-weight: 700;
  margin: 0 15px;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}

.product-image-wrapper{
	border:1px solid #F7F7F5;
	overflow: hidden;
	margin-bottom:30px;
}

.single-products {
  position: relative;
}

.new, .sale {
  position: absolute;
  top: 0;
  right: 0;
}

.productinfo h2{
	color: #FE980F;
	font-size: 24px;
	font-weight: 700;
}
.product-overlay h2{
	color: #fff;
	font-size: 24px;
	font-weight: 700;
}


.productinfo p{

  font-size: 14px;
  font-weight: 400;
  color: #696763;
}

.productinfo img{
  width: 100%;
}

.productinfo{
 position:relative;
}

.product-overlay {
  background:#FE980F;
  top: 0;
  display: none;
  height: 0;
  position: absolute;
  transition: height 500ms ease 0s;
  width: 100%;
  display: block;
  opacity:;
}

.single-products:hover .product-overlay {
  display:block;
  height:100%;
}


.product-overlay .overlay-content {
  bottom: 0;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.product-overlay .add-to-cart {
  background:#fff;
  border: 0 none;
  border-radius: 0;
  color: #FE980F;
  font-size: 15px;
  margin-bottom: 25px;
}

.product-overlay .add-to-cart:hover {
  background:#fff;
  color: #FE980F;
}


.product-overlay p{
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}


.refine_menu .nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #fff;
}
/*************************
******* Home ******
**************************/
#slider {
	padding-bottom:45px;
}
/*.hbg{
	background-size:1360px 1000px;
  overflow: hidden;
	background: url('../images/system/bg-home.svg') no-repeat scroll center bottom;
}*/
#trendy_product, #best_selling_product{
	margin-bottom:25px;
}
#season_product{
	margin-bottom:100px;
}
h1{

	font-size:36px;
	font-weight:700;
	margin-bottom:40px;
	padding:0px;
}
/*************************
******* Products Listing  ******
**************************/
.top_product{
	padding:0px 15px;
	margin-bottom:15px;
	overflow:hidden;
}
.top_product p.blue{
	color: #1CABE2;
	font-weight: bold;
}
.top_product p.black{
	color: #333;
	font-weight: bold;
}
.hproduct{
	margin-bottom:50px;
}
.hproduct .thumbnail{
	border:0px solid #fff;
	background:none;
}
.hproduct .thumbnail img{
	border:8px solid #000;
	background:none;
}
.hproduct .title{
	color: #000;
	font-size: 1em;
}
.hproduct .price{
	color: #000;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none;
}
.hold-title{
	width: 100%; 
	margin-bottom:10px;
	overflow: hidden
}
.hold-price{
	width: 100%; height: 30px; overflow: hidden;
	margin-top:15px;
}
.hproduct span.red{
	color:#e4332a;
}
.hproduct span:hover{
	color:#e4332a;
}


#footer{
	background:#151414;
	color:#fff;
	text-align:right;
  padding: 30px 0px;
}

.search .input-group-btn:last-child > .btn {
  background:#000;
  color:#fff;
  padding-bottom: 0px;
}
.search input[type="text"] {
    padding: 10px;
    outline: medium none;
    color: #B6B2AE;
    background: #000 none repeat scroll 0% 0%;
    border: 1px solid #000;
  margin-right:5px;
  width:100%;
  height:37px;
}
.search button[type="submit"] {
    background: #000 url("../images/system/search.png") no-repeat scroll 30px 5px;
    padding: 10px;
    border: medium none;
    cursor: pointer;
    position: absolute;
  border: 1px solid #000;
    outline: medium none;
  border-radius:0px;
  margin-top: 5px;
  width:100%;
}
.kesearch{
  height: 37px;
}
.enamad {background: rgb(255, 255, 255) none repeat scroll 0% 0%;
border-radius: 5px;}

