/*webzineslider*/ 
  .jssorb05 {
      position: absolute;
  }
  .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
      position: absolute;
      /* size of bullet elment */
      width: 30px;
      height: 35px;

      background: url('/img/b05.png') no-repeat;
      overflow: hidden;
      cursor: pointer;
  }
  .jssorb05 div { background-position: -5px -5px; }
  .jssorb05 div:hover, .jssorb05 .av:hover { background-position: -75px -5px; }
  .jssorb05 .av { background-position: -75px -5px; }
  .jssorb05 .dn, .jssorb05 .dn:hover { background-position: -5px -5px; }


  .jssora22l, .jssora22r {
      display: block;
      position: absolute;
      /* size of arrow element */
      width: 40px;
      height: 58px;
      cursor: pointer;
      background: url('img/a22.png') center center no-repeat;
      overflow: hidden;
  }
  .jssora22l { background-position: -10px -31px; }
  .jssora22r { background-position: -70px -31px; }
  .jssora22l:hover { background-position: -130px -31px; }
  .jssora22r:hover { background-position: -190px -31px; }
  .jssora22l.jssora22ldn { background-position: -250px -31px; }
  .jssora22r.jssora22rdn { background-position: -310px -31px; }

/*End webzind*/
/* listing product */
.disableline:hover{
  text-decoration: none !important;
}
.gp_products_item_caption > ul > li {
    color: #767676;
    text-align: center;
}
.gp_products_caption_rating > li > a.price{
  color: #000;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}
.gp_products_caption_rating > li > a.heart{
  color: #000;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}
.swiper-container1, .swiper-container2, .swiper-container3{
        height: 320px;
        margin:10px auto;
        overflow: hidden;
    }

#gallerycontainer {
  position: relative;
  height: 85px;
  width: 80%;
  margin: 0 auto;
  /*overflow-x: scroll;*/
  overflow-y:hidden !important; 
}
.fa-twitter{
  padding-left: 2px;
  color:#cccccc;
}

#gallery {
  width: 420px;
  position: absolute;
  z-index: 1;
}
  #gallery a {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 5px;
    text-align: center;
  }
.rel-title {
  text-align: center;
  padding-top: 20px;
}
.content-pad{
  padding-top: 20px;
  padding-bottom: 20px;
}
.img {
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size: cover;
}
.btnred{
  width:50px;
  text-align: center;
  margin-top:-10px;
  padding-left: 20px;
 }
.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/*end*/
textarea#status {
  width: 230px;
  height: 120px;
  border: 3px solid #ccc;
  padding: 5px;
  background-image: url(bg.gif);
  background-position: bottom right;
  background-repeat: no-repeat;
}
html { 
  background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
}
div.fill-screen {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.make-it-fit {
    max-width: 900px;
    max-height: 490px;
}
.btnred{
  width: 96.4px;
  height: 21px;
	margin-left: -30px;
  margin-top: -12px;
}
.search{
 margin:30px 0px;
 position: relative;
 overflow:hidden;
}

.list-inline {
    padding-left: 0;
    list-style: none;
}
.padding-left{
	padding-left:0;
}
.padding-right{
	padding-right:0;
}
.box .search-group{
	cursor:pointer;
}
.box-inner {
    padding: 3px 10px;
    border: 1px solid #ddd;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
	display:none;
}
.list-inline>li:first-child {
    padding-left: 0;
}
.box-inner .list-inline{
	margin-left:0;
}
.input-group-addon{
	cursor:pointer;
}
.input-group-addon .glyphicon{
	font-weight:bold;
	font-size:14px;
}
.glyphicon-list:before{
	margin-right:5px;
}
.img-border{
  border:solid black 8px;
  border-radius:50%;
  width:170px;
  height:170px;
}
/*
:lang(fa)   {
    font-family: "B-Nazanin";
  }*/
  /*pagination slide style*/
   .swiper-pagination-bullet {
        width: 12px;
        height: 13px;
        text-align: center;
        line-height: 20px;
        font-size: 12px;
        color:#fff;
        opacity: 1;
        background-position: -32px -46px;
        background: rgba(0,0,0,0.2);
      
    }
      .swiper-pagination-bullet:hover{
        color:#fff;
        background-color: #fff;
        box-shadow: 1px 1px 1px #fff;
    }

    .swiper-pagination-bullet-active{
        color:#fff;
        background-color: #fff;
        box-shadow: 1px 1px 1px #fff;
    }
  /*end*/
  /*add style by chien 19/02/2016*/

  /*.oneScroll{
    overflow-x : hidden !important;
  }*/
  