<template name="quizz">
    <div class="modal" id="myJourney" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="col-md-6">
                        {{#with currentQuestion}}
                        <p>{{question}}
                        </p>
                        <br> {{#each answers}}
                        <label class="checkbox">
                            <input id="choice_tag" name="checkbox" type="checkbox" value="{{tag}}"><i></i>{{text}}</label>
                        <br> {{/each}} {{/with}}
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="modal-footer" style="border:none">
                    <button type="button" class="btn btn-default" style="background:#000; color:#fff; margin-bottom:0px" id="next">NEXT</button>
                </div>
            </div>
        </div>
    </div>
</template>
