<template name="recommendation">
   
          {{{oneStyleProduct products hidequickview}}}
     
  <!-- start modal -->
  
  <!-- end modal -->

</template>
<template name="relateDetail">
	<style type="text/css">
		.container .modal-dialog .modal-content{
			background: white;
		}
		.btn-second-action{
        background: none;
        color: #000;
        border-radius: 0px;
        font-size: 14px;
        padding: 0.5rem 1rem;
        border: 1px solid #333;
    }
    .btn-second-action:hover, .btn-second-action:focus{
        background: none;
        color: #c00;
        border-radius: 0px;
        font-size: 14px;
        padding: 0.5rem 1rem;
        border: 1px solid #c00;
    }
      .btn-fir-action-des2{
        background: #c00;
        color: #fff;
        border-radius: 0px;
        font-size: 14px;
        padding: 0.5rem 1.5rem;
        border: none;

    }
    .btn-fir-action-des2:hover, .btn-fir-action-des2:focus {
        background: #333;
        color: #fff;
        border-radius: 0px;
        font-size: 14px;
        padding: 0.5rem 1.5rem;
        border: none;
    }
	</style>
	<style>
		.zoom {
			display:inline-block;
			position: relative;
		}
		/* magnifying glass icon */
		.zoom img {
			display: block;
		}
		.zoom img::selection { background-color: transparent; }
		#ex2 img:hover { cursor: url(grab.cur), default; }
		#ex2 img:active { cursor: url(grabbed.cur), default; }
	</style>
   
          {{{oneStyleProduct products showquickview}}}
     
  <!-- start modal -->
  	<div class="modal" id="quickView" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:30px;" dir="{{getDirection}}">
		
		{{#with getSelectedProduct}}
		<div class="modal-dialog" role="document">
			<div class="modal-content {{quickviewStyle}}">
					  <div class="modal-content" id="backgrond_none_modal">
						<div class="modal-header" style="background:#000; padding:0px;" >
						  <button type="button" class="close" data-dismiss="modal"><img src="/images/pop_cancel.png"></button>
						</div>
						
						<div class="modal-body">
							<div class="row">
								<div class="col-md-5">

									<span class='zoom' id='ex2'>
										<img id="hoverZoom" width="250" height="250" class="img_principle" src="{{getImgForProduct _id}}" alt="{{title}}" onError="this.onerror=null;this.src='{{getImgForProductCDN _id}}';" />		

									</span>	
									 <script>
										$(document).ready(function(){
											$('#ex2').zoom('{{getFirstImgProduct _id}}');
											$('#ex2').zoom({ on:'grab' });
											$('#ex3').zoom({ on:'click' });			 
											$('#ex4').zoom({ on:'toggle' });
										});
									</script>
								</div>
								<div class="col-md-7">
									<div class="quick-detail">
										<h2 class="title-quick-view">{{title}}</h2>
										<p class="arab-font">{{{description}}}</p>
									</div>
									<div class="row">
										<div class="col-md-6">
											<span>{{_"QTY"}}</span> &nbsp;
											<select class="select-view" id="qty">
											<option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>10</option>
											</select>
										</div>
										<div class="col-md-6">
	                                      <a href="/details/{{slug title}}"><button class="btn-moredetail-view left btn-second-action">{{_"MORE DETAIL"}}</button></a>
										</div>

										<div class="col-md-6">
											  <a href="/details/{{slug title}}" style="font-weight:bold;color:#000;" class="price{{oldId}}">
									            <h3 id="quick_view_price" style="font-weight:bold;color:#000;">{{getAttribprice oldId}}</h3>
									          </a>
										</div>
										<div class="col-md-6">
	                                       <button data-id="{{getIdAttr _id}}" class="btn-add-tocard left" id="addmycart-quickview btn-fir-action-des2">{{_ "ADD TO CARD"}}</button>
										</div>
									</div>
									
								</div>
							</div>
							<div class="col-md-12">
							   <hr style="border:1px solid #000;">
							</div>
						</div>

						<div class="modal-footer center-block" style="border:none">
							<div class="col-md-12">
                               <h4 class="pull-left">{{_"Related products"}}</h4>
							</div>
							
							<div class="row">
								{{>recommendation}}			
							</div>
						</div>
					  </div>	
					</div>
					</div>
					{{/with}}
				
					<script>
					$('.modal-backdrop').remove();
					</script>
				</div>

				
  <!-- end modal -->

</template>

<template name="relateReward">
	<style type="text/css">
		.container .modal-dialog .modal-content{
			background: white;
		}
	</style>
	<style>
		.zoom {
			display:inline-block;
			position: relative;
		}
		/* magnifying glass icon */
		.zoom img {
			display: block;
		}
		.zoom img::selection { background-color: transparent; }
		#ex2 img:hover { cursor: url(grab.cur), default; }
		#ex2 img:active { cursor: url(grabbed.cur), default; }
	</style>
   
          {{{oneStyleProductReward products showquickview}}}
     
  <!-- start modal -->
  	<div class="modal" id="quickView" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:30px;" dir="{{getDirection}}">
		
		{{#with getSelectedProduct}}
		<div class="modal-dialog" role="document">
			<div class="modal-content {{quickviewStyle}}">
					  <div class="modal-content" id="backgrond_none_modal">
						<div class="modal-header" style="background:#000; padding:0px;" >
						  <button type="button" class="close" data-dismiss="modal"><img src="/images/pop_cancel.png"></button>
						</div>
						
						<div class="modal-body">
							<div class="row">
								<div class="col-md-5">

									<span class='zoom' id='ex2'>
										<img id="hoverZoom" width="250" height="250" class="img_principle" src="{{getImgForProduct _id}}" alt="{{title}}" onError="this.onerror=null;this.src='{{getImgForProductCDN _id}}';" />		

									</span>	
									 <script>
										$(document).ready(function(){
											$('#ex2').zoom('{{getFirstImgProduct _id}}');
											$('#ex2').zoom({ on:'grab' });
											$('#ex3').zoom({ on:'click' });			 
											$('#ex4').zoom({ on:'toggle' });
										});
									</script>
								</div>
								<div class="col-md-7">
									<div class="quick-detail">
										<h2 class="title-quick-view">{{title}}</h2>
										<p class="arab-font">{{{description}}}</p>
									</div>
									<div class="row">
										<div class="col-md-6">
											<span>{{_"QTY"}}</span> &nbsp;
											<select class="select-view" id="qty">
											<option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>10</option>
											</select>
										</div>
										<div class="col-md-6">
	                                      <a href="/details/{{slug title}}"><button class="btn-moredetail-view left">{{_"MORE DETAIL"}}</button></a>
										</div>

										<div class="col-md-6">
											  <a href="/details/{{slug title}}" style="font-weight:bold;color:#000;" class="price{{oldId}}">
									            <h3 id="quick_view_price" style="font-weight:bold;color:#000;">{{getAttribprice oldId}}</h3>
									          </a>
										</div>
										<div class="col-md-6">
	                                       <button class="btn-add-tocard left" id="addmycart-quickview">{{_ "ADD TO CARD"}}</button>
										</div>
									</div>
									
								</div>
							</div>
							<div class="col-md-12">
							   <hr style="border:1px solid #000;">
							</div>
						</div>

						<div class="modal-footer center-block" style="border:none">
							<div class="col-md-12">
                               <h4 class="pull-left">{{_"Related products"}}</h4>
							</div>
							
							<div class="row">
								{{>recommendation}}			
							</div>
						</div>
					  </div>	
					</div>
					</div>
					{{/with}}
				
					<script>
					$('.modal-backdrop').remove();
					</script>
				</div>

				
  <!-- end modal -->

</template>