<template name="reply">
   <div class="container">
    <h1>Reply</h1>
      <form class="form-horizontal" id="addReply" role="form" method="post">
     <div class="form-group">
        <label for="title" class="col-sm-2 control-label">Topic</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" required id="topic" name="topic">
        </div>
    </div>
    <div class="form-group">
        <label for="message" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-6">
            <textarea class="form-control" required rows="4" name="description" id="description"></textarea>
        </div>
    </div>
        <div class="form-group">
        <label for="message" class="col-sm-2 control-label">Select image:</label>
        <div class="col-sm-6">
            <input type="file" name="image" id="image" class="your-upload-class">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6 col-sm-offset-2">
            <input id="reply" name="submit" type="submit" value="Submit" class="btn btn-primary">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6 col-sm-offset-2">
            <!-- Will be used to display an alert to the user -->
        </div>
    </div>
</form>
   </div>
</template>

