<template name="newmenu">
    <div class="main-wrapper">
		<section class="header">
		<!--<div class="header-top">
				<div class="container">
					<div id="top-left">
                        <ul class="list-inline">
							<li><a href="">Login</a></li>
							<li><a href=""><span>/&nbsp;&nbsp;</span> Register</a></li>
						</ul>
                    </div>

                    <div id="top-right">
                       
						<ul class="list-inline">
							<li><a href="#">English</a></li>
							<li><a href="#">WEBZINE</a></li>
							<li><a href="#">Home</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
									<img src="/images/shop-icon.svg">
									<i class="fa fa-caret-down"></i>
								</a>
								<ul class="dropdown-menu">
									<li><a href="#">Null</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="#">
											<span class="pull-left">Total:</span>
											<span class="pull-right">2000$</span>
											<span class="clearfix"></span>
										</a>
									</li>
									<li><a href="#">
											<span class="pull-left">Total:</span>
											<span class="pull-right">2000$</span>
											<span class="clearfix"></span>
										</a>
									</li>
									<li role="separator" class="divider"></li>
									<li><a href="#">
										<span class="pull-left">Total:</span>
										<span class="pull-right">2000$</span>
										<span class="clearfix"></span>
										</a>
									</li>
									<li role="separator" class="divider"></li>
									<li><a href="#"><button type="button" class="btn btn-block btn_checkout">CHECKOUT</button></a></li>
								</ul>
							</li>
							<li><a href="#"><i class="fa fa-heart heart"></i></a></li>
						</ul>
						
                    </div>
				</div>
			</div>/header-top-->
			<!-- <div class="header-logo clearfix">
				<div class="container"> -->
			<!-- 	<div class="logo">
						<a href="index.html"><img height="100" src="images/safir_logo-01.svg"></a>
					</div> -->
					<!-- <div class="search">
						<form action="#" method="GET">
							<div class="input-group">
							  <span class="input-group-addon search-push-left">
								<ul class="list-inline">
									<li><a href="#">Products</a></li>
									<li><a href="#">WEBZINE</a></li>
									<li><a href="#">Tutorial</a></li>
									<li><a href="#">ALL</a></li>
								</ul>
							  </span>
							  <span class="input-group-addon all-btn" id="btn-all"><i class="fa fa-bars"></i></span>
							  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
							  <span class="input-group-addon search-btn"><i class="fa fa-search search-font"></i></span>
							</div>
							<input name="query" placeholder="Search" type="text"><button class="search-submit" type="submit"><i class="fa fa-search"></i></button>
						</form>
					</div> -->
				<!-- </div>
			</div> --><!--/header-logo-->
			<div class="header-menu">
				<div class="container">
					<div class="main-megamenu">
						<div class="megamenu_container megamenu_dark_bar megamenu_light"><!-- Begin Menu Container -->
							<ul class="megamenu"><!-- Begin Mega Menu -->
								<li class="megamenu_button"><a href="#_">Mega Menu</a></li>
								<li class="active"><a href="#_" class="megamenu_drop">Make Up</a><!-- Begin Item -->
									<div class="dropdown_fullwidth dropdown_container_left"><!-- Begin Item Container -->
         
										<div class="col_3 responsive_halfs">
											<h3>Men Fragrance</h3>
											<ul class="list_unstyled" >
												<li><a href="#_">Subcategory</a></li>
												<li><a href="#_">Subcategory</a></li>
											</ul> 
											
											<h3>Women Fragrance</h3>
											<ul class="list_unstyled" >
												<li><a href="#_">Women Fragrance</a></li>
												<li><a href="#_">Women Fragrance</a></li>
												<li><a href="#_">Women Fragrance</a></li>
												<li><a href="#_">Women Fragrance</a></li>
											</ul>
											
										</div>

										<div class="col_3 responsive_halfs">
											<h3>Women Fragrance</h3>
											<ul class="list_unstyled" >
												<li><a href="#_">Women Fragrance</a></li>
												<li><a href="#_">Women Fragrance</a></li>
												<li><a href="#_">Women Fragrance</a></li>
												<li><a href="#_">Women Fragrance</a></li>
											</ul>
											
											<h3>Women Fragrance</h3>
											<ul class="list_unstyled">
												<li><a href="#_">SKIN CARE</a></li>
												<li><a href="#_">Columns</a></li>
												<li><a href="#_">CSS Grid</a></li>
												<li><a href="#_">Videos</a></li>
												<li><a href="#_">Images</a></li>
												<li><a href="#_">Iframes</a></li>
												<!--<li><a href="#_">Explorer</a></li>
												<li><a href="#_">Chrome</a></li>
												<li><a href="#_">Firefox</a></li>
												<li><a href="#_">Safari</a></li>
												<li><a href="#_">Opera</a></li>-->
											</ul>
											
										</div>

										<div class="col_3 responsive_halfs">
											<h3>Unisex Fragrance</h3>
											<ul class="list_unstyled">
												<li><a href="#_">SKIN CARE</a></li>
												<li><a href="#_">Columns</a></li>
												<li><a href="#_">CSS Grid</a></li>
												<li><a href="#_">Videos</a></li>
												<li><a href="#_">Images</a></li>
												
											</ul> 

											<h3>Unisex Fragrance</h3>
											<ul class="list_unstyled">
												<li><a href="#_">SKIN CARE</a></li>
												<li><a href="#_">Columns</a></li>
												<li><a href="#_">CSS Grid</a></li>
												<li><a href="#_">Videos</a></li>
												<li><a href="#_">Images</a></li>
												<li><a href="#_">Iframes</a></li>
												<li><a href="#_">Explorer</a></li>
												<!--<li><a href="#_">Chrome</a></li>
												<li><a href="#_">Firefox</a></li>
												<li><a href="#_">Safari</a></li>
												<li><a href="#_">Opera</a></li>-->
											</ul> 

										</div>
									</div><!-- End Item Container -->		
								</li><!-- End Item -->
            
             
								<li><a href="#_" class="megamenu_drop">FRAGRANCE</a><!-- Begin Item -->
				
				
								<div class="dropdown_10columns dropdown_container dropdown_container_left"><!-- Begin Item Container -->
								
									<div class="col_3 responsive_halfs">
										<h3>Women Fragrance</h3>
										<ul class="list_unstyled">
											<li><a href="#_">ThemeForest</a></li>
											<li><a href="#_">GraphicRiver</a></li>
											<li><a href="#_">ActiveDen</a></li>
											<li><a href="#_">VideoHive</a></li>
											<li><a href="#_">3DOcean</a></li>
										</ul>   
										 
									</div>
							
									<div class="col_3 responsive_halfs">
										<h3>Women Fragrance</h3>
										<ul class="list_unstyled">
											<li><a href="#_">NetTuts</a></li>
											<li><a href="#_">VectorTuts</a></li>
											<li><a href="#_">PsdTuts</a></li>
											<li><a href="#_">PhotoTuts</a></li>
											<li><a href="#_">ActiveTuts</a></li>
										</ul>   
										 
									</div>
							
									<div class="col_3 responsive_halfs">
										<h3>Women Fragrance</h3>
										<ul class="list_unstyled">
											<li><a href="#_">FreelanceSwitch</a></li>
											<li><a href="#_">Creattica</a></li>
											<li><a href="#_">WorkAwesome</a></li>
											<li><a href="#_">Mac Apps</a></li>
											<li><a href="#_">Web Apps</a></li>
										</ul>   
										 
									</div>
							
									<div class="col_3 responsive_halfs">
										<h3>Women Fragrance</h3>
										<ul class="list_unstyled">
											<li><a href="#_">Design</a></li>
											<li><a href="#_">Logo</a></li>
											<li><a href="#_">Flash</a></li>
											<li><a href="#_">Illustration</a></li>
											<li><a href="#_">More...</a></li>
										</ul>   
										 
									</div>
														 
								</div><!-- End Item container -->
						
							</li><!-- End Item -->
            
						<li><a href="#_" class="megamenu_drop">FRAGRANCE</a><!-- Begin Item -->
						
						
							<div class="dropdown_9columns dropdown_container dropdown_container_left"><!-- Begin Item Container -->
							
										
								
								
								<div class="col_4 responsive_halfs">
									<h3>Title Product</h3>
									<ul class="list_unstyled">
										<li><a href="#_">ThemeForest</a></li>
										<li><a href="#_">GraphicRiver</a></li>
										<li><a href="#_">ActiveDen</a></li>
										<li><a href="#_">VideoHive</a></li>
										<li><a href="#_">3DOcean</a></li>
									</ul>   
									 
								</div>
						
								<div class="col_4 responsive_halfs">
									<h3>Title Product</h3>
									<ul class="list_unstyled">
										<li><a href="#_">NetTuts</a></li>
										<li><a href="#_">VectorTuts</a></li>
										<li><a href="#_">PsdTuts</a></li>
										<li><a href="#_">PhotoTuts</a></li>
										<li><a href="#_">ActiveTuts</a></li>
									</ul>   
									 
								</div>
						
								<div class="col_4 responsive_halfs">
									<h3>Title Product</h3>
									<ul class="list_unstyled">
										<li><a href="#_">FreelanceSwitch</a></li>
										<li><a href="#_">Creattica</a></li>
										<li><a href="#_">WorkAwesome</a></li>
										<li><a href="#_">Mac Apps</a></li>
										<li><a href="#_">Web Apps</a></li>
									</ul>   
									 
								</div>
													 
							</div><!-- End Item container -->
							
						
						</li><!-- End Item -->
           
						<li><a href="">LINK SELLING</a></li>
						<li><a href="">GIFT</a></li>
						


								<li class="megamenu_right bg-rigth-black"><a href="#_" class="megamenu_drop drop-right">Community</a><!-- Begin Right Item -->
					
									<div class="dropdown_12columns dropdown_right dropdown_container dropdown_container_right"><!-- Begin Right Item Container -->
								
										<div class="col_12">
											<div class="col_3 responsive_halfs">
												<h3>Women Fragrance</h3>	  
											</div> 
											<div class="col_3 responsive_halfs">
												<h3>Women Fragrance</h3>	  
											</div> 
											<div class="col_3 responsive_halfs">
												<h3>Women Fragrance</h3>	  
											</div> 
											<div class="col_3 responsive_halfs">
												<h3>Women Fragrance</h3>	  
											</div> 
										</div>
									
									</div><!-- End Right Item Container -->		  
								</li><!-- End Right Item -->
							</ul><!-- End Mega Menu -->
						</div><!-- End Menu Container -->
					</div><!--/main-megamenu-->
				</div>
			</div><!--/header-menu-->
		</section>
		
		
		
		<section class="content">
			<div class="container">
			<div style="background:#000; height:379px; overflow:hidden; margin-bottom:15px;">
				<img src="images/swipper-02.jpg" class="img-responsive" width="100%"/>
			</div>
			</div>
		</section>
		<!-- / content -->
		<section class="bg_home">
			<div class="container">
				<h1 class="text-center h1">BEST SELLERS</h1>
				<!-- Swiper -->
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							
							<img width="170" height="170" src="images/product1.jpg" class="img-circle img-circle-border">
					
						</div>
						<div class="swiper-slide"><img width="170" height="170" src="images/product1.jpg" class="img-circle img-circle-border"></div>
						<div class="swiper-slide"><img width="170" height="170" src="images/product1.jpg" class="img-circle img-circle-border"></div>
						<div class="swiper-slide"><img width="170" height="170" src="images/product1.jpg" class="img-circle img-circle-border"></div>
						<div class="swiper-slide"><img width="170" height="170" src="images/product1.jpg" class="img-circle img-circle-border"></div>
					</div>
					
					<!-- Add Pagination -->
					<div class="swiper-pagination"></div>
					<!-- Add Arrows -->
					<div class="swiper-button-next" ></div>
					<div class="swiper-button-prev" ></div>
				</div>
				<h1 class="text-center h1">TRENDY PRODUCTS</h1>
				<!-- Swiper -->
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							
							<img width="170" height="170" src="/images/product1.jpg" class="img-circle img-circle-border">
					
						</div>
						<div class="swiper-slide"><img width="170" height="170" src="/images/product1.jpg" class="img-circle img-circle-border"></div>
						<div class="swiper-slide"><img width="170" height="170" src="/images/product1.jpg" class="img-circle img-circle-border"></div>
						<div class="swiper-slide"><img width="170" height="170" src="/images/product1.jpg" class="img-circle img-circle-border"></div>
						<div class="swiper-slide"><img width="170" height="170" src="/images/product1.jpg" class="img-circle img-circle-border"></div>
					</div>
					
					<!-- Add Pagination -->
					<div class="swiper-pagination"></div>
					<!-- Add Arrows -->
					<div class="swiper-button-next" ></div>
					<div class="swiper-button-prev" ></div>
				</div>
			</div>
		</section>
		
		<!-- #footer -->
		<section id="footer">
			<div class="container">
				<div class="col-md-5 pull-left">
					<div class="footer-left">
						<ul class="sociallist list-inline">
							<li><a href="#" target="_blank" title="Facebook"><img width="30" height="30" src="images/socail_media-01.svg"></a></li>
							<li><a href="#" target="_blank" title="Facebook"><img width="30" height="30" src="images/socail_media-02.svg"></a></li>
							<li><a href="#" target="_blank" title="Facebook"><img width="30" height="30" src="images/socail_media-03.svg"></a></li>
							<li><a href="#" target="_blank" title="Facebook"><img width="30" height="30" src="images/socail_media-04.svg"></a></li>
							<li><a href="#" target="_blank" title="Facebook"><img width="30" height="30" src="images/socail_media-05.svg"></a></li>
							<li><a href="#" target="_blank" title="Facebook"><img width="30" height="30" src="images/socail_media-06.svg"></a></li>
						</ul>
						<div class="footer-name">
							<img class="center-block" src="images/namad1.png">
						</div>
					</div>
				</div>
				<div class="col-md-7 pull-right">
					<div class="footer-right">
						<img class="pull-right" width="160" height="180" src="images/logo_footer-01.svg">
						<p class="text-right pull-right">کلیه حقوق مادی و معنوی متعلق به فروشگاه عطر سفیر می باشد و هرگونه سوء استفاده، موجب پیگرد قانونی است</p>
						<div class="clearfix"></div>
					</div>
				</div>
				
			</div>
		</section>
		
	</div><!--/main-wrapper-->

    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
	<script src="/js/megamenu.js"></script>
	<!-- swiper -->
	<script src="/js/swiper.min.js"></script>
	<script>
	var swiper = new Swiper('.swiper-container', {
        //pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView: 5,
        centeredSlides: true,
        paginationClickable: true,
        spaceBetween: 25,
    });
	</script>
	<script>
	$(document).ready(function(){
		$(".search-push-left").hide();
		var isOn = true;
		$(function(){
		   $("#btn-all").click(function(){
			  console.log(isOn);
			  if ( isOn ){
				  isOn = false;
				  $('.search').css("width", '45%');
				  $(".search-push-left").hide();
			  } else {
				  isOn = true;
				  $('.search').css("width", '72%');
				  $(".search-push-left").show();
			  }
			  return false;
		  });
		});
	});
	</script>
	<script>
		$(document).ready(function($){
			$('.megamenu').megaMenuCompleteSet({
				menu_speed_show : 300, // Time (in milliseconds) to show a drop down
				menu_speed_hide : 200, // Time (in milliseconds) to hide a drop down
				menu_speed_delay : 200, // Time (in milliseconds) before showing a drop down
				menu_effect : 'hover_fade', // Drop down effect, choose between 'hover_fade', 'hover_slide', etc.
				menu_click_outside : 1, // Clicks outside the drop down close it (1 = true, 0 = false)
				menu_show_onload : 0, // Drop down to show on page load (type the number of the drop down, 0 for none)
				menu_responsive:1 // 1 = Responsive, 0 = Not responsive
			});
		});
	</script>
</template>