<template name="admincenter">
<style>
a {
	color: black;
}
</style>
	<div class="container">
		<div class="text-left">
			<p>
				<a href="/adminpanel">Admin panel</a><br>
				<a href="/admin/pages">Pages</a><br>
				<a href="/admin/location">Manage location</a><br>
				<a href="/addlocation">Add location</a><br>					
				<a href="/manageproduct">Manage product</a><br>
				<a href="/addproduct">Add product</a><br>
				<a href="/managecategory">Manage category</a><br>
				<a href="/manageshop">Manage shop</a><br>
				<a href="/manageparenttag">Manage shop</a><br>
				<a href="/managetag">Manage tag</a><br>
				<a href="/managecontent">Manage content</a><br>
				<a href="/managequestion">Manage question</a><br>
				<a href="/manageUserTracking">Manage user tracking</a><br>
				<a href="/manageProductUser">Manage product user</a><br>
				<a href="/managequizz">Manage quizz</a><br>
				<a href="/manageDiscount">Manage discount</a><br>
				<a href="/manageCollect">Manage collect</a><br>
				<a href="/managesurvey">Manage survey</a><br>
				<a href="/manageshoplearnit">Manage shop learn/it</a><br>
				<a href="/manageQuicklink">Manage quick link</a><br>	
			</p>
		</div>
	</div>
</template>