<template name="editLocation">
	<div id="wrapper">
        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Update Location
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Dashboard
                            </li>
                        </ol>
                    </div>
					<div class="col-xs-12 col-sm-6 col-md-8">
						<form role="form" class="form-horizontal">	
							<div class="form-group">
								<label class="control-label col-sm-3" for="title">Name <span style="color:red">*</span></label>
								<div class="col-sm-9">
									<input type="text" value="{{name}}" id="name" placeholder="Name" required>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-3" for="location">Type <span style="color:red">*</span></label>
								<div class="col-sm-9">
									<select class="form-control" id="type" required>
										<option value="{{type}}" style="display:none">{{type}}</option>
										<option value="Quicklinks">Quicklinks</option>
										<option value="News">News</option>
										<option value="Deal">Deal of the Week</option>
										<option value="Lifestyle">Lifestyle</option>
									 </select>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-3" for="desc">Image <span style="color:red">*</span></label>
								<div class="col-sm-9">
									<input type="file" name="image" id="image" placeholder="image" required>
									<input type="hidden" value="{{image_id}}" id="oldImage">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-3" for="title">Link <span style="color:red">*</span></label>
								<div class="col-sm-9">
									<input type="text" value="{{link}}" id="link" placeholder="Link" required>
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-3" for="title">Page <span style="color:red">*</span></label>
								<div class="col-sm-9">
									<select class="form-control" id="page" required>
										<option value="{{page}}" style="display:none">{{page}}</option>
										<option value="home">Home Page</option>
										<option value="category">Category</option>
									 </select>
								</div>
							</div>
							<div class="form-group listcategory">
								<label class="control-label col-sm-3" for="title">Choose Category <span style="color:red">*</span></label>
								<div class="col-sm-9">
									{{#each getParentCat}}
										<p><input type="checkbox" class="form-control" value="{{_id}}" style="opacity:1" checked="{{Ischecked ../categoryId}}"> <span>{{title}}</span></p>
									{{/each}}
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-3" for="title">Position <span style="color:red">*</span></label>
								<div class="col-sm-9">
									<select class="form-control" id="position" required>
										<option value="{{position}}" style="display:none">{{position}}</option>
										<option value="top">Top</option>
										<option value="bottom">Buttom</option>
									 </select>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-3" for="title">Order <span style="color:red">*</span></label>
								<div class="col-sm-9">
									<select class="form-control" id="order" required>
										<option value="{{order}}" style="display:none">{{order}}</option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
									 </select>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-3" for="title">Product <span style="color:red"></span></label>
								<div class="col-sm-7" style="position:relative">
									<input type="text" class="form-control" name="product" id="product" placeholder="Search Product" required>
									<ul id="result" class="result-pro"></ul>
								</div>
								<div class="col-md-2">
									<button type="button" id="addProduct" style="padding:5px">Add</button>
								</div>
							</div>
							<div class="form-group">
								<ul class="product-list">{{{listpro}}}</ul>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-3 col-sm-2">
									<input type="button" value="Edit" id="edit" class="btn btn-lg">
								</div>
							</div>
						</form>
						
					</div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
</template>