<template name="addList">
{{#each  this.p}}
	
	{{this}}
	<br />
{{/each}}
<br /><br />
<!-- <div id="title" style="width:200px;height:300px;">
<a  href="#">
	jdfjdf djfdj fdfjd fdjfdjf dfjdjf djf djfdjf djjfd fdjfsdfjskjdf djfjsdkfjdjfdjf djfjdkfjdfksjdkfjsdj fdjfksfjd fdjfdkfjdskd fkdfjdfkdjfsdjfkjsojdkfdlfdjkfjd fd fjdkfjdkf djfdkfjd  fjdjfdkfdkfjdjf
</a>
</div> -->
 <script type="text/javascript">
// 	$(document).ready(function(){
// 		$('#title').limitLine({ limitLines: 2 });
// 	});
 </script>
</template>