<template name="menulink">
		 <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="manageproduct">manage products</a></li>
              <li><a href="managecategory">manage category</a></li>
              <li><a href="manageshop">manage shop</a></li>
              <li><a href="manageparenttag">manage parenttag</a></li>
              <li><a href="managetag">manage tag</a></li>
              <li><a href="managecontent">manage content</a></li>
              <li><a href="parentattr">parent attritbute</a></li>
              <li><a href="attribute">attribute</a></li>
              <li><a href="linkselling">link selling</a></li>
              <li><a href="listTranslate">listTranslate</a></li>
              <li><a href="manageUserTracking">Manage Tracking</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
</template>
