<template name="ForgotPassword">
    <div class="container">

        <form id="recovery-form" role="form">
            <div class="form-group " style="margin-bottom:20px;" id="code">
                <label>{{_ "Enter code to veryfy"}}</label>
                <input class="form-control" type="text" name="code" required>
            </div>
            <div class="form-group " style="margin-bottom:20px;" id="code">
                    <label>{{_ "Recovery Email"}}</label>
                    <input class="form-control" type="email" name="emailRecovery" required>
            </div>
            <div class="form-group" style="margin-bottom:20px;">
                        
                <input type="submit" class="btn btn-primary" style="padding:0px 15px; border-radius:3px; margin:0px;" value="Send">
            </div>
                    
        </form>
    <!-- end #forgot-password-form -->
    </div>

</template>

<template name="ResetPassword">
    <div class="container">
        <form role="form">

            <div class="form-group " style="margin-bottom:20px;" id="password">
                <label>{{_ "Enter new password"}}</label>
                <input class="form-control" type="password" name="password" required>
            </div>
            <div class="form-group" style="margin-bottom:20px;">
                        
                <input type="submit" class="btn btn-primary" style="padding:0px 15px; border-radius:3px; margin:0px;" value="Reset">
            </div>
        </form>
    </div>
    <!-- end #reset-password-form -->
</template>