<template name="zoom">
	<style>
		.zoom {
			display:inline-block;
			position: relative;
		}
		
		/* magnifying glass icon */
		

		.zoom img {
			display: block;
		}

		.zoom img::selection { background-color: transparent; }

		#ex2 img:hover { cursor: url(grab.cur), default; }
		#ex2 img:active { cursor: url(grabbed.cur), default; }
	</style>
	
		<div class="containter">
			<div class="row">
				<div class="col-md-2">
				<span class='zoom' id='ex1'>
				<img src='/uploads/images-3DucdAd5NTaatoPnG-images-xa9CktkacBv9X6HY5-rouge a lèvre.jpg' width='200' height='200' alt='Daisy on the Ohoopee'/>
				</span>
				</div>
			</div>
		
		</div>
		<script>
		$(document).ready(function(){
			$('#ex1').zoom();
			$('#ex2').zoom({ on:'grab' });
			$('#ex3').zoom({ on:'click' });			 
			$('#ex4').zoom({ on:'toggle' });
		});
	</script>
	
</template>