<template name="sendmail">
	<section>
		<div class="container">
			<div class="text-right">
				<div style="overflow: hidden;">
					<span class="pull-left"><img class="center-block" height="100" src="images/safir_logo-01.svg"></span>
					<span><h3 class="h-safir" style="margin-top: 40px;">Safirperfumery.com</h3>
					<hr class="hr-safir" style="margin-top: 5px;margin-bottom: 20px;border: 0;border-top: 1px solid #333;" /></span>
				</div>
				<h2 class="h-title" style="color: red;">Test</h2>
				<h3>Test</h3>
				<p style="color: #ccc;">test</p>
				<div class="row">
					<div class="conts" style="height: 250px;background: url('/img/imgpsh_fullsize.jpg') no-repeat;background-size: 100% 250px;">
						<div class="col-md-6" style="border-right: 3px solid #000; height: 240px">
							<h3 style="margin: 15px;">test</h3>
						</div>
						<div class="col-md-6" style="height: 240px;">
							<h3 style="margin: 15px;">test</h3>
						</div>
					</div>
				</div>
				<h3 class="h-title" style="color: red;">test</h3>
				<hr class="lineboldup" style="margin-top: 10px;margin-bottom: 20px;border: 0;border-top: 3px solid #333;" />
				<div class="row">
					<div class="col-md-3">
						<h3>test</h3>
						<p style="color: #ccc;">test</p>
					</div>
					<div class="col-md-6">
						<h3>test</h3>
						<p style="color: #ccc;">test</p>
						<p style="color: #ccc;">test</p>
					</div>
					<div class="col-md-3 text-center">
						<img src="/img/img.png" style="width:30%; height: 20%;">
					</div>
				</div>
				<hr/>
				<div class="row">
					<div class="col-md-3">
						<h3>test</h3>
						<p style="color: #ccc;">test</p>
					</div>
					<div class="col-md-6">
						<h3>test</h3>
						<p style="color: #ccc;">test</p>
					</div>
					<div class="col-md-3 text-center">
						<img src="/img/img.png" style="width:30%; height: 20%;">
					</div>
				</div>
				<hr class="linebold" style="margin-top: 20px;margin-bottom: 20px;border: 0;border-top: 3px solid #333;" />
				<h3 class="text-left">test</h3>
				
			</div>
		</div>
	</section>
</template>