<template name="search">
<div class="breadcrumb-main">
	<div class="container">
		<div class="container-box">
			<ul class="list-inline breadcam">
				<li>MAKEUP<span><img src="/images/caret.png"></span></li>
				<li>LIPS<span><img src="/images/caret.png"></span></li>
				<li>LIPSTICK<span><img src="/images/caret.png"></span></li>
				<li id="refine">REFINE<span><img src="/images/caret.png"></span></li>
			</ul>
		</div>
		<div id="body_refine" style="display: block;">
			<div class="col-xs-3 col-sm-3 col-lg-3">
				<ul class="refine">
					<li class="active"><a href="#home" data-toggle="tab">Price Range</a></li>
					<li><a href="#rating" data-toggle="tab">Rating</a></li>
					<li><a href="#brand" data-toggle="tab">Brand</a></li>
					<li><a href="#advanced" data-toggle="tab">Advanced</a></li>
				</ul>
			</div>
			<div class="col-xs-9 col-sm-9 col-lg-9">
				<div class="tab-content">
					<div class="tab-pane active" id="home">
						<div class="well">
							<b>$ 10</b> <div class="slider slider-horizontal"><input type="text" id="sl2" data-slider-value="[0,1000]" data-slider-step="10" data-slider-max="1000" data-slider-min="10" value="" class="span2" style=""></div> <b>$ 1000</b>
						</div>
					</div>
					<div class="tab-pane" id="rating">
						<label>1</label><input type="radio" name="rate" class="rating" value="1">
						<label>2</label><input type="radio" name="rate" class="rating" value="2">
						<label>3</label><input type="radio" name="rate" class="rating" value="3">
						<label>4</label><input type="radio" name="rate" class="rating" value="4">
						<label>5</label><input type="radio" name="rate" class="rating" value="5">
					</div>
					<div class="tab-pane" id="brand">Messages Tab.</div>
					<div class="tab-pane" id="advanced">Settings Tab.</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-xs-12">
			<div class="content-in">
				<!--<form>
					Price: 
					<input class="form-control" type="min" id="min" name="min" placeholder="Min Price" required>
					<input class="form-control" type="max" id="max" name="max" placeholder="Max Price" required>
					<input type="button" class="sorting" value="Sort">
				</form>-->
				{{#each filter search text refine rating}}
				<div class="col-lg-4 col-md-4 col-xs-12">
					<a href="{{pathFor 'details' id=_id}}"><img style="border:8px solid #000" src="{{getImg image}}" class="img-circle center-block" alt="Cinque Terre" width="150" height="150"></a>
					<p class="text-center" style="font-size:12px; padding:5px"><a href="{{pathFor 'details' id=_id}}">{{title}}</a></p>
					<h3 class="text-center" style="font-weight:bold"><a href="{{pathFor 'details' id=_id}}">{{price}}</a>
						<span >
							<a href="" id="favorite"><img id="heart" width="20px" height="20px" /></a></span>
					</h3>
				</div>
				{{/each}}
				<!-- Searc Product by Keyword -->
				{{#EasySearch.Each index=playersIndex }}
		           <div class="col-lg-4 col-md-4 col-xs-12">
					<a href="{{pathFor 'details' id=_id}}"><img style="border:8px solid #000" src="{{getImg image}}" class="img-circle center-block" alt="Cinque Terre" width="150" height="150"></a>
				<!-- 	<p class="text-center" style="font-size:12px; padding:5px"><a href="{{pathFor 'details' id=_id}}">{{title}}</a></p> -->
					<h3 class="text-center" style="font-weight:bold"><a href="{{pathFor 'details' id=_id}}">{{price}}</a>
						<span >
							<a href="" id="favorite"><img id="heart" width="20px" height="20px" /></a></span>
					</h3>
				</div>
		        {{/EasySearch.Each}}
			</div>
		</div>
	</div>
</div>

</template>