<template name="updatecategory">
    <div id="wrapper">
        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
					
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            {{_ "Update Categories"}}
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> {{_ "Dashboard"}}
                            </li>
                        </ol>
                    </div>
					
					<div class="col-xs-12 col-sm-6 col-md-8">
						<form role="form" class="form-horizontal">							
							<div class="form-group">
								<label class="control-label col-sm-3" for="title">{{_ "Title"}} <span style="color:red">*</span></label>
								<div class="col-sm-9">
									<input type="hidden" id="idRecord" value="{{_id}}" required>
									<input type="text" name="title" id="title" value="{{title}}" class="form-control input-sm" placeholder="Title" required>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-3" for="desc">{{_"Description"}} <span style="color:red">*</span></label>
								<div class="col-sm-9">
									<input type="desc" name="desc" id="desc" value="{{description}}" class="form-control input-sm" placeholder="Meta Description" required>
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-3" for="location"> {{_ "Categories"}} <span style="color:red">*</span></label>
								<div class="col-sm-9">
									<select class="form-control" id="parent" required>
										<option value=" ">{{_ "No Parent"}}</option>
										{{#each getCatall}}
										{{#if checkParent _id ..}}
										<option value="{{_id}}" selected>{{title}}</option>
										{{else}}
										<option value="{{_id}}">{{title}}</option>
										{{/if}}
										
										{{/each}}
									 </select>
								</div>
							</div>
						
							<div class="form-group">
								<label class="control-label col-sm-3" for="image">{{_ "Images"}} <span style="color:red">*</span></label>
								<div class="col-sm-9">
									<input type="file" name="image" id="image" class="" placeholder="image">
									<div class="col-lg-12 col-sm-12" style="padding:15px;border:1px solid #ccc;margin-top:15px;">

										{{#each getIdImage image}}
											<div class="col-lg-3 col-sm-3">
												<img class="img-thumbnail" style="width:100px; height:100px;" src="{{getImg imageId}}">
												<input type="checkbox" name="checkImg" id="check" value="{{imageId}}" checked>
											</div>

										{{/each}}

									</div>
								</div>
								<!--  -->
								<label class="control-label col-sm-3" for="title"><br>Banner<span style="color:red">*</span></label>
								<div class="col-sm-9"><br>
									<input type="file"  name="file" id="file" value="" class="form-control input-sm file" placeholder="banner" style="height: 15%;">
									<div class="col-md-12">
										<span>Height:<strong>1300px </strong></span>
										<span>Width:<strong>620px</strong></span>
									</div>
									<div style="padding:15px;border:1px solid #ccc;margin-top:15px;">
									<img src="{{getImg bannercat}}" alt="banner" width="90" height="90" style="margin-top:15px;">
									</div>
								</div>
								<!--  -->

							</div>
							<div class="form-group">
								<div class="col-sm-offset-3 col-sm-4">
									<input type="submit" value="{{_"Update"}}" id="btnUpdate" class="btn btn-primary btn-block">
								</div>
							</div>
						</form>
					</div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
</template>