<template name="addaddress">
	
	<form role="form" class="form-horizontal">
		<h1>Add Country</h1>
		<div class="form-group">
			<label class="control-label col-sm-3" for="name">Country Name <span style="color:red">*</span></label>
			<div class="col-sm-8">
				<input type="title" name="name" id="name" class="form-control input-sm" placeholder="Country name"  >
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-3" for="city">City<span style="color:red"> *</span></label>
			<div class="col-sm-8">
				<input type="city" name="city" id="city" class="form-control input-sm" placeholder="City name"  >
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-3" for="street">Street <span style="color:red">*</span></label>
			<div class="col-sm-8">
				<input type="text" name="street" id="street" class="form-control input-sm" placeholder="Street">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-2">
				<input  value="Create" id="btnAdd" class="btn btn-primary btn-block">
			</div>
		</div>
	</form>
					
</template>