<template name="addContent">
    <div id="wrapper">

        <!-- <div id="page-wrapper"> -->

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            {{_"Contents"}}
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> {{_"Content add"}}
                            </li>
                        </ol>
						<div class="col-lg-12">
							<form role="form" class="form-horizontal">
								
								<div class="form-group">
									<label class="control-label col-sm-3" for="title">{{_"Title"}} <span style="color:red">*</span></label>
									<div class="col-sm-9">
										<input type="title" name="title" id="title" class="form-control input-sm" placeholder="{{_"Title"}}" required  >
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-3" for="title">{{_"Video URL"}} <span style="color:red">*</span></label>
									<div class="col-sm-9">
										<input type="text" name="url" id="url" class="form-control input-sm" placeholder="Url"   >
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-3" for="content">{{_"Content"}}<span style="color:red"> *</span></label>
									<div class="col-sm-9">
										<textarea rows="5" name="content" id="editor1" class="form-control input-sm" placeholder="{{_"Content"}}" required></textarea>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-3" for="type"> {{_"Type"}} <span style="color:red">*</span></label>
									<div class="col-sm-9">
										<select class="form-control" id="type" required>
											<option value="" >{{_"Select type"}}</option>
											{{#each contentposttype}}
												<option value="{{_id}}">{{type}}</option>
											{{/each}}
										 </select>
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-sm-3" for="tag"> 
										{{_"Tag"}}<span style="color:red">*</span>
									</label>
									<div class="col-sm-9">
										<input type="text" name="tag" id="txttag" class="form-control input-sm" placeholder="{{_"Add Tags"}}">
										<p id="textreq" class="hidden" style="color:red">please fill out this field </p>
										<button id="btnaddTags" class="btn btn-info">{{_"Add Tag"}}</button>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-3" for="type"> {{_"Category"}} <span style="color:red">*</span></label>
									<div class="col-sm-9">
										<select class="form-control" id="catId">
											<option value="" required>{{_"Select category"}}</option>
											{{#each getcategory}}
												<option value="{{_id}}">{{title}}</option>
											{{/each}}
										 </select>
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-sm-3" for="image">{{_"Image"}} <span style="color:red">*</span></label>
									<div class="col-sm-9">
										<input type="file" name="image" id="image" class="" placeholder="image">
										<div class="col-lg-12 col-sm-12" style="padding:15px;border:1px solid #ccc;margin-top:15px;">
										
										{{#each getIdImage}}

											<div class="col-lg-3 col-sm-3">

												<img class="img-thumbnail" style="width:100px; height:100px;" src="{{getImg image}}">
												<a href="#" id="rmFile" class="btn btn-primary" style="font-size:14px;padding:2px 25px 2px 25px ;margin:5px 0px 0px 0px;border-radius:3px;">{{_"Delete"}}</a>

											</div>

										{{/each}}
										</div>
								</div>
									
								</div>	
								<div class="form-group">
									<div class="col-sm-offset-3 col-sm-2">
										<input type="submit" style="border-radius:5px;padding:0px; margin:0px;" value="{{_"ADD"}}" id="btnAdd" class="btn btn-info btn-block">
									</div>
								</div>
							</form>

							<br>
						</div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        <!-- </div> -->
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

<script type="text/javascript">
	CKEDITOR.replace( 'editor1' );
</script>
</template>
