<template name="contenttype">
    <div id="wrapper">

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Contents type
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Content type add
                            </li>
                        </ol>
                        <div class="col-lg-8">
                            <form role="form" class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-3" for="type">Type<span style="color:red">*</span></label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="type">
                                            <option value="Tuto">Tuto</option>
                                            <option value="News">News</option>
                                         </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-2">
                                        <input  value="Add" id="btnAdd" class="btn btn-info btn-block">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->


</template>
