
<template name="addreviewWebzine">
		<div class="space_btn" style="padding-top:20px;">
			<button style="margin-top:20px;margin-left:10px;" class="btn btn-black" type="button" id="bt_review">{{_ "Write a review"}}</button>
		</div>
		
		<div id="add_review" style="display: none;">
			<div class="hwrite_comments">
				<form id="form">
					<div class="row">
						<div class="col-md-2">
							<img src="{{getImg currentUser.image}}" class="img-responsive center-block" style="width: 50%;">
							<h4 class="bold text-center">{{currentUser.profile.firstname}} {{currentUser.profile.lastname}}</h4>
						</div>
						<div class="col-md-10">
							<input id="title" type="text" class="form-control" placeholder="{{_"Title"}}..." required/>
							<textarea class="form-control" rows="3" id="comment" placeholder="{{_"Write your review"}}..." required></textarea>
						</div>
					</div>
				
					<div class="row">
						<div class="col-md-3 col-md-offset-2 pull-left">
							<form role="form">
								<div class="form-group select_grade">
									<select class="form-control" id="sel1">
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
									</select>
								</div>
							</form>
						</div>	
						<div class="col-md-5 pull-right">
							<input type="submit" value="{{_'SEND'}}" class="pull-right btn btn_send" id="addreview">
						</div>
					</div>
				</form>
			</div>

		</div>
	
</template>


