<template name="webzinedetails">
    <style type="text/css">
    .bert-alert.my-error {
        background: #fff;
        color: #000;
        box-shadow: 2px 2px 15px #888;
    }
    .fa-review-iconbg{
        background-image: url('../img/reviewsc.png');
        background-size: 32px 32px;
        width: 32px;
        height: 32px;
    }
    .fa-addcart-iconbg{
        background-image: url('../img/cart.png');
        background-size: 32px 32px;
        width: 32px;
        height: 32px;
    }
    .fa-fav-iconbg{
        background-image: url('../img/fav.png');
        background-size: 32px 32px;
        width: 32px;
        height: 32px;
    }
    .fa-remove-iconbg{
        background-image: url('../img/remove.png');
        background-size: 32px 32px;
        width: 32px;
        height: 32px;
    }
    </style>
    <section class="webzine" dir="{{getDirection}}">
        <div class="container">
            {{#with this.result}}
            <div class="mode-news" style="margin-top: 50px; padding-bottom: 30px;">
                <a href="/news"><h2 class="text-center bold content-pad">{{title}}</h2></a>
                <div class="mode-img">
                    {{#with getFirstImgContent _id}}
                    <img src="{{getImg this}}" onError="this.onerror=null;this.src='{{getImgCDN this}}';" class="center-block img-responsive" width="500" height="200" alt="{{title}}"> {{/with}}
                    <div class="col-md-12 row">
                        <iframe src="https://www.facebook.com/plugins/like.php?href={{getcurrentURl}}%2F&width=450&layout=standard&action=like&show_faces=true&share=true&height=80&appId" width="450" height="80" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                    </div>
                </div>
                <div class="mode-description content-pad">
                    <p class="cetner-block p-pad">{{{content}}}</p>
                </div>
                <hr class="under-p-pad">
            </div>
           <!--  {{/with}} -->
            <div class="col-md-12">
                <input type="hidden" id="productreviewid" value="{{this.result._id}}" /> 
                {{#if currentUser}} {{>addreview}} {{/if}}
                <div class="col-md-12" id="hidemoreview" style="margin-bottom: 20px;">
                    {{#if review}}
	                    {{#each getReviewBySort review }} 
	                    	{{>review }} 
	                    {{/each}}
	                    <!-- <div class="wrapper_forum">
	                        <div class="filter_set"></div>
	                    </div> -->
	                    <div class="pull-right">
                            {{#if show_review_more5 review}}
                            <h3 id="show1" class="morereviews" data-toggle="0">{{_ "MORE REVIEWS"}} &nbsp; <i class="fa fa-angle-down morereview"></i></h3>
                            {{/if}}
                        </div>
                    {{else}}
                        <i>{{_"No reviews"}}</i> 
                    {{/if}}
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="mode-lips" style="background-color: #ebebea; overflow:hidden;">
                <div class="lips-box">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="row h1-pad" style="margin-left:15px;">
                            <h1>{{_ "ARTICLE ABOUT"}}</h1>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <br>
            <div class="clearfix"></div>
          <!--   <div class="forum-lips" style="background-color: #ebebea; overflow:hidden;"> -->
               <!--  <div class="lips-box"> -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        {{#with related_product category}} {{#if dataLenght}}
                        <div class="row h1-pad" style="margin-left:15px;">
                            <h1>{{_"RELATED PRODUCTS"}}</h1>
                        </div>
                        <br>
                        <div class="on-lips">
                            <div class="row">
                                <!-- {{#each productsRelat}}
                                <div class="col-md-3">
                                    <a href="/details/{{slug title}}"><img src="{{getImgForProduct _id}}" onError="this.onerror=null;this.src='{{getImgForProductCDN _id}}';" class="center-block" alt="" width="150" height="150"></a>
                                    <p class="rel-title relatedp"><a href="{{pathFor 'details' id=_id}}" style="color:black;">{{title}}</a></p>
                                    <h3 class="text-center" style="font-weight:bold;font-size:1em;">{{price}}</h3>
                                </div>
                                {{/each}} -->
                                {{>relateDetail}} 
                            </div>
                        </div>
                        {{/if}} {{/with}}
                    </div>
                    <span style="padding:0px;"></span>
               <!--  </div> -->
           <!--  </div> -->
           {{/with}}
        </div>

    </section>
    <!--<div id="fb-root"></div>
    <script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1678919525678084";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>-->
</template>
