<template name="look1">  
<div style="padding:20px"></div>

<div class="container">
	<div class="col-md-12">
			<div class="col-md-3">
				<a href="" id="samat">
					<img src="images/girl-img1.png" class="img-responsive ">
				</a>
				<p>Léa023</p>
			</div>

			<div class="col-md-3">
			    <a href="" data-target="#squarespaceModal" data-toggle="modal">
				<img src="images/girl-img2.png" class="img-responsive ">
				</a>
				<p>Léa023</p>
			</div>

			<div class="col-md-3">
			    <a href="" data-target="#squarespaceModal" data-toggle="modal">
				<img src="images/girl-img3.png" class="img-responsive ">
				</a>
				<p>Léa023</p>
			</div>
			
			
			<div class="col-md-3">
				<h1 class="text-center">CELEBRITY</h1>
				<hr id="hrlook">
				<img src="images/girl-img-1.png" class="img-responsive ">
			</div>
	</div>

	<div class="col-md-12">
	        <div class="col-md-3">
				<img src="images/girl-img1.png" class="img-responsive ">
				<p>Léa023</p>
			</div>

			<div class="col-md-3">
				<img src="images/girl-img2.png" class="img-responsive ">
				<p>Léa023</p>
			</div>

			<div class="col-md-3">
				<img src="images/girl-img3.png" class="img-responsive ">
				<p>Léa023</p>
			</div>
			
			
			<div class="col-md-3">
				<img src="images/girl-img-2.png" class="img-responsive ">
				<img src="images/girl-img-3.png" class="img-responsive ">
			</div>
     </div>

     <div class="col-md-12">
	        <div class="col-md-3">
				<img src="images/girl-img1.png" class="img-responsive ">
				<p>Léa023</p>
			</div>

			<div class="col-md-3">
				<img src="images/girl-img2.png" class="img-responsive ">
				<p>Léa023</p>
			</div>

			<div class="col-md-3">
				<img src="images/girl-img3.png" class="img-responsive ">
				<p>Léa023</p>
			</div>
			
			
			<div class="col-md-3">
				<img src="images/girl-img-1.png" class="img-responsive ">
				<img src="images/girl-img-3.png" class="img-responsive ">
			</div>
		
	<!-- end contain -->


   <!-- popup -->
   <div class="modal fade alert" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true"
         style="padding-top: 80px; padding-bottom: 80px; display: none;">

			  <div class="modal-dialog modal-lg">
			    <div class="modal-content">		        
                <div class="modal-body">
	                <button type="button" class="close" data-dismiss="modal">
	                <span aria-hidden="true">x</span>
	                <span class="sr-only">Close</span>
	                </button>

                       
                         	 <div class="ui-field-contain">
                                  <div class="row" style="padding:30px">

	                                   <div class="col-md-4">
	                                      <a href="" ><img  src="images/girl-img1.png" class="img-responsiv center-block"></a>                     
									  </div>
                                      <div class="col-md-8"> 
                                         <p class="text-center"> LÉA DU 60</p>
                                          <p> Kylie Jenner attends the premiere of ‘JANOSKIANS: UNTOLD AND UNTRUE’ in Los Angeles on Tuesday, August 25th, 2015
										  </p>
										  <div class="col-md-3">
										   <img src="images/img-small1.png" class="img-responsive ">
										   <span style="font-size:12px">Rouge channel <p class="text-center">15 $</p></span>
										  </div>
										  <div class="col-md-3">
										   <img src="images/img-small1.png" class="img-responsive ">
										   <span style="font-size:12px">Rouge channel <p class="text-center">15 $</p></span>
										  </div>
										  <div class="col-md-3">
										   <img src="images/img-small1.png" class="img-responsive ">
										   <span style="font-size:12px">Rouge channel <p class="text-center">15 $</p></span>
										  </div>
										  <div class="col-md-3">
										   <img src="images/img-small1.png" class="img-responsive ">
										   <span style="font-size:12px">Rouge channel <p class="text-center">15 $</p></span>
										  </div>
                                       </div>
  
                                  </div>
                            </div>

                            
                             <span style="font-size:15px;font-weight:bold;padding-left:30px"> 
                             SELECT YOUR OWN PRODUCTS <span class="caret"></span>
                             </span>


                       <div class="ui-field-contain">                           	 
                               <div class="row" style="padding:30px">
                              <div class="col-md-9 col-xs-12">
                                <div class="ScrollStyle">
                                    <div class="row">

                                      <div class="col-md-4">
                                         <a href="" ><img  src="images/girl-img-1.png" class="img-responsiv center-block"></a>                     
								      </div>

                                       <div class="col-md-4"> 
                                          <p class="text-left" style="padding-top:50px"> Product name </p>
                                          <p>Description</p>
                                      
                                       </div>

                                       <div class="col-md-4"> 
                                          <p class="text-ceter" style="padding-top:50px"> 9 $</p>
                                      
                                       </div>
                                    </div>

                                     <div class="row">
                                      <div class="col-md-4">
                                         <a href="" ><img  src="images/girl-img-1.png" class="img-responsiv center-block"></a>                     
								      </div>

                                       <div class="col-md-4"> 
                                          <p class="text-left" style="padding-top:50px"> Product name </p>
                                          <p>Description</p>
                                      
                                       </div>

                                       <div class="col-md-4"> 
                                          <p class="text-ceter" style="padding-top:50px"> 9 $</p>
                                      
                                       </div>
                                    </div>

                                    <div class="row">
                                      <div class="col-md-4">
                                         <a href="" ><img  src="images/girl-img-1.png" class="img-responsiv center-block"></a>                     
								      </div>

                                       <div class="col-md-4"> 
                                          <p class="text-left" style="padding-top:50px"> Product name </p>
                                          <p>Description</p>
                                      
                                       </div>

                                       <div class="col-md-4"> 
                                          <p class="text-ceter" style="padding-top:50px"> 9 $</p>
                                      
                                       </div>
                                    </div>

                                     <div class="row">
                                      <div class="col-md-4">
                                         <a href="" ><img  src="images/girl-img-1.png" class="img-responsiv center-block"></a>                     
								      </div>

                                       <div class="col-md-4"> 
                                          <p class="text-left" style="padding-top:50px"> Product name </p>
                                          <p>Description</p>
                                      
                                       </div>

                                       <div class="col-md-4"> 
                                          <p class="text-ceter" style="padding-top:50px"> 9 $</p>
                                      
                                       </div>
                                    </div>

                               </div>
                               </div>
                              
                                     <div class="col-md-3 col-xs-12 leftc" align="center">
						              		<h3>14$</h3>
						                    <span>QTY</span>
						                     <select class="select1">
						                    	<option>1</option>
						                        <option>2</option>
						                        <option>3</option>
						                        <option>4</option>
						                     </select>
						                     <select class="selectletf">
						                    	<option>SELECT CITY</option>
						                        <option>Phnom Penh</option>
						                        <option>Kampong Chnang</option>
						                        <option>Kandal</option>
						                     </select>
						                     <a href="#">ADD TO CART</a>
						              </div>
						       </div>

                              </div>
                        </div>


                   </div>
			    </div>
			  </div>
			</div>	

		<!-- end popup-->
   </div>
 </template>	