<template name="pagelook">
   <!-- start contain -->
   
<div style="padding:20px"></div>

<div class="container">
	<div class="col-md-12">
	<div class="col-md-9 col-md-offset-2">

			<div class="col-md-3">
				<a href="" id='samat'>
					<img src="images/small-g1.png" class="img-responsive ">
				</a>
				<p>Léa023</p>
			</div>




			<div class="col-md-3">
			    <a href="" data-target="#squarespaceModal" data-toggle="modal">
				<img src="images/small-g2.png" class="img-responsive ">
				</a>
				<p>Léa023</p>
			</div>

			<div class="col-md-3">
			    <a href="" data-target="#squarespaceModal" data-toggle="modal">
				<img src="images/small-g3.png" class="img-responsive ">
				</a>
				<p>Léa023</p>
			</div>

			<div class="col-md-3">
			    <a href="" data-target="#squarespaceModal" data-toggle="modal">
				<img src="images/small-g4.png" class="img-responsive ">
				</a>
				<p>Léa023</p>
			</div>
			
	</div>
	</div>

     <div class="col-md-12">
     <div class="col-md-9 col-md-offset-2" >

	        <div class="col-md-3">
				<img src="images/girl-img1.png" class="img-responsive ">
				<p>Léa023</p>
			</div>

			<div class="col-md-3">
				<img src="images/girl-img2.png" class="img-responsive ">
				<p>Léa023</p>
			</div>

			<div class="col-md-3">
				<img src="images/small-g2.png" class="img-responsive ">
				<p>Léa023</p>
			</div>
			
			
			<div class="col-md-3">
				<img src="images/girl-img3.png" class="img-responsive ">
				<p>Léa023</p>
			</div>
				
	<!-- end contain -->


   <!-- popup -->
   <div class="modal fade alert" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true"
         style="padding-top: 80px; padding-bottom: 80px; display: none;">

			  <div class="modal-dialog modal-lg">
			    <div class="modal-content">		        
                <div class="modal-body">
	                <button type="button" class="close" data-dismiss="modal">
	                <span aria-hidden="true">x</span>
	                <span class="sr-only">Close</span>
	                </button>

                       
                         	 <div class="ui-field-contain">
                                  <div class="row" style="padding:30px">

	                                   <div class="col-md-4">
	                                      <a href="" ><img  src="images/small-g3.png" class="img-responsiv center-block"></a>                     
									  </div>
                                      <div class="col-md-8"> 
                                          <p> Kylie Jenner attends the premiere of ‘JANOSKIANS: UNTOLD AND UNTRUE’ in Los Angeles on Tuesday, August 25th, 2015
										  </p>
										  <div class="col-md-3">
										   <img src="images/img-small1.png" class="img-responsive ">
										   <span style="font-size:12px">Rouge channel <p class="text-center">15 $</p></span>
										  </div>
										  <div class="col-md-3">
										   <img src="images/img-small1.png" class="img-responsive ">
										   <span style="font-size:12px">Rouge channel <p class="text-center">15 $</p></span>
										  </div>
										  <div class="col-md-3">
										   <img src="images/img-small1.png" class="img-responsive ">
										   <span style="font-size:12px">Rouge channel <p class="text-center">15 $</p></span>
										  </div>
										  <div class="col-md-3">
										   <img src="images/img-small1.png" class="img-responsive ">
										   <span style="font-size:12px">Rouge channel <p class="text-center">15 $</p></span>
										  </div>
                                       </div>
  
                                  </div>
                            </div>

                         <div class="boder"> </div>
  
                       <div class="ui-field-contain">

                         <div class="row" style="padding:20px">
	                           <div class="col-md-4">
	                        <span style="font-size:15px;font-weight:bold;padding-left:30px"> 
                             Tutorial makeup related
                             </span>
                             <div style="padding:10px"></div>
	                              <div class="col-md-6">
		                            <img src="images/girl-img-1.png" class="img-responsive ">
		                          </div>
		                           <div class="col-md-6">
		                            <img src="images/girl-img-1.png" class="img-responsive ">
		                           </div>
	                           </div>


                              <span style="font-size:15px;font-weight:bold;padding-left:30px"> 
                                Related products
                             </span>
                             <div style="padding:10px"></div>
	                           <div class="col-md-8">
	                           <div class="col-md-3">
		                           <img src="images/girl-img-1.png" class="img-responsive ">
		                           </div>
		                           <div class="col-md-3">
		                            <img src="images/girl-img-1.png" class="img-responsive ">
		                            </div>
		                            <div class="col-md-3">
		                            <img src="images/girl-img-1.png" class="img-responsive ">
		                            </div>
		                            <div class="col-md-3">
		                            <img src="images/girl-img-1.png" class="img-responsive ">
		                            </div>
	                           </div>
	                                                                           
                         </div>                               
                        </div>
                      </div>

			    </div>
			  </div>
			</div>	

		<!-- end popup-->
     </div>
   </div>
 </div>


    <br />
    <br />
    <br />
    <br />
    
	
</template>