<template name="edits">
	<section>
		<div id="exTab1" class="container">	
			<div class="progressbar">
				<ul  class="nav nav-pills">
					<li id="cart" class="active cart"><a  href="" data->Cart</a></li>
					<li id="sum" class="active cart"><a href="" data-toggle="tab">Summary</a></li>
					<li id="conf" class="cart"><a href="" data-toggle="tab">Confirmation</a></li>
				</ul>
			</div>

			<div class="tab-content clearfix">

				<!-- tab 2 -->
				<div >
					<div class="col-md-6 col-md-offset-2">
						<div class="row">
							<div class="col-md-2">
		          				<label class="pull-right">1</label>
		          			</div>
		          			<div class="col-md-9">
		          				<p><label>Validate your shipping address</label></p>
		          				<p>Continue with the shipping adress in your profilor edit for enter a new adress.</p>
		          				<h4 class="name">TAGMAOUI Sarah</h4>
		          				<table class="table">
		          					<tr>
		          						<td class="table-form">Mail :</td>
		          						<td>Tagmaoui@gmail.com</td>
		          					</tr><tr>
		          						<td class="table-form">Address :</td>
		          						<td>Tagmaoui Sarah</td>
		          					</tr>
		          					<tr>
		          						<td></td><td>14 rue bahr</td>
		          					</tr>
		          					<tr>
		          						<td></td><td>TEHRAN</td>
		          					</tr>
		          					<tr>
		          						<td></td><td>IRAN</td>
		          					</tr>
		          					<tr>
		          						<td class="table-form">Phone :</td>
		          						<td>
		          							087336067
		          						</td>
		          						<button class="btn-back pull-right">OK</button>
		          					</tr>
		          				</table>
		          				<hr/>
		          			</div>
						</div>
						<div class="row">
							<div class="col-md-2">
		          				<label class="pull-right">2</label>
		          			</div>
		          			<div class="col-md-9">
		          				<p><label>Choose your delivery method : shipment</label></p>
		          				<div class="checkbox">
									<label><input value="" type="checkbox">Normal delivery</label>
								</div>
								<div class="checkbox">
									<label><input value="" type="checkbox" checked="">Fast delivery</label>
								</div>
		          				<hr/>
		          				<button class="btn-back butback">Back</button>
		          				<button class="btn-con-server pull-right">Continue : Secure Server</button>
		          			</div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="space-img">
							<img src="/img/imgpsh_fullsize (1).png" class="img-responsive">
						</div>
						<div class="space-img">
							<img src="/img/imgpsh_fullsize.png" class="img-responsive">
						</div>
					</div>	
				</div>
			</div>
  		</div>
	</section>
</template>