<template name="manageQuicklink1">
	<style type="text/css">
		.myradio{
			margin-left: -30px !important;
    		margin-top: -13px !important;
		}
	</style>
	<div class="container">
		<form role="form" class="form-horizontal">

	<div class="form-group">
		<label class="control-label col-sm-3" for="title">Quick link type <span style="color:red">*</span></label>
		<div class="col-sm-6">
			<select id="quicklinktype" class="form-control">
				<option value="">===Please select ===</option>
				{{#each getQuicktype}}
				<option value="{{_id}}">{{title}}</option>
				{{/each}}
			</select>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-sm-3" for="product">Product <span style="color:red">*</span></label>
		<div class="col-sm-6" align="right">
			<input class="form-control" id="searchpro" type='text' list='listid'>
		    <datalist id='listid'>
		    	{{#each getproduct}}
		    		<option label="{{title}}" value='{{title}}'></option>
		    	{{/each}}
		       
		    </datalist>
		</div>
	
	<div class="col-sm-2" align="left">
			<input  value="Add" id="btnAdd" class="btn btn-primary btn-block">
	</div>
</div>

	 <div class="form-group">
		<label class="control-label col-sm-3" for="publish">Publish <span style="color:red">*</span></label>
		<div class="col-sm-6">
			<label class="radio-inline"><input class="myradio" type="radio" name="optradio">Yes</label>

			<label class="radio-inline"><input class="myradio" type="radio" name="optradio">No</label>
		</div>

			<div class="form-group">
				<div class="col-sm-9">
							<table class="table table-bordered table-hover table-striped">
								<thead>
									<tr>
										<th class="text-center" style="width:35%">Products</th>
										<th class="text-center" style="width:15%" colspan="4">Tools</th>
									</tr>
								</thead>
								<tbody>
									{{#each getListPro}}
									<tr>
										<td>{{title}}</td>
										<td><a class="glyphicon glyphicon-trash center-block" href="" id="remove"></a></td>
									</tr>
									{{/each}}
								</tbody>
							</table>
				</div>
			</div>

	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-2">
			<input  value="Submit" id="btnSubmit" class="btn btn-primary btn-block">
		</div>
		<div class="form-group">
				<div class="col-sm-12">
							<table class="table table-bordered table-hover table-striped">
								<thead>
									<tr>
										<th class="text-center" style="width:35%">Title</th>
										<th class="text-center" style="width:35%">Code</th>
										<th class="text-center" style="width:35%">Products</th>
										<th class="text-center" style="width:35%">Publish</th>
										<th class="text-center" style="width:15%" colspan="4">Tools</th>
									</tr>
								</thead>
								<tbody>
									{{#each getListProduct}}
									<tr>
										<td>{{title}}</td>
										<td>{{code}}</td>
										<td>{{getProcount products}}</td>
										<td>{{publish}}</td>
										<td><a class="glyphicon glyphicon-trash center-block" href="" id="remove"></a></td>
										<td><a class="glyphicon glyphicon-edit center-block" href="updatelistproduct/{{_id}}"></a></td>
									</tr>
									{{/each}}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</template>