
<!-- <template name="success">
    <div class="container">
        <div class="congratulation">
            <div class="after-register">
                <img class="center-block" height="100" src="images/safir_logo-01.svg">
                <p class="text-center text_cong">
                    Your registration has been validated.
                </p>
                <div class="col-md-3 col-md-offset-5">
                    <button type="button" class="btn-cong">Continue on safir</button>
                </div>
            </div>
        </div>
    </div>
</template> -->


  <!-- <div class="center">
        <button data-toggle="modal" data-target="#regitersuccessModal" style="display:none;" id="displayWindow" class="btn btn-primary center-block">Safir popup</button>
    </div>
    <div class="container" dir="{{getDirection}}">
        <div class="modal alert" id="regitersuccessModal" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" style="padding:80px;">
            <div class="modal-dialog modal-lg">
                <div class="modal-content" style="margin-top: 150px;">
                    <div class="modal-header">
                        <button type="button" style="margin-left:10px;" id="displayresgitersuccess" class="close" data-dismiss="modal"><span aria-hidden="true">x</span><span class="sr-only"></span></button>
                        <h3 class="modal-title" id="lineModalLabel">{{_"Thanks for joined us!"}}</h3>
                    </div>
                    <div class="modal-body" dir="{{getDirection}}">
                        {{_"You have successfully registered"}}. {{_"You can now login"}} <a id="goto-login">{{_"Login"}}</a> .
                    </div>
                </div>
            </div>
        </div>

    </div> -->