
<template name="invoice">
    <div class="container">
        <div class="facture">
            <div class="col-sm-5 col-md-5">
                <img class="" height="200" src="images/safir_logo-01.svg">
            </div>
            <div class="col-sm-7 col-md-7">
                <h3 class="text-right h3"><strong>2016122234847-10240 .ریزج : سردآ</strong></h3>
                <p class="text-right">
                    نفلت :4420360 - 0764
                    <br> 0912-8705059 : هارمه نفلت
                    <br> . تفه هفرغ ، لوا هقبط ، ذیناپ ژاساپ ، شیک هریزج : سردآ
                    <br> 1394/11/02:هارمه نفلت
                </p>
            </div>
            <div class="clearfix"></div>
            <div class="">
                <div class="well text-right facture-well">
                    <h4 class="h4">شیک هریزج : سر</h4></div>
            </div>
            <div class="facture-text-center">
                <p class="text-center text_cong">غ ، لوا هقبط ، ذیناپ ژاساپ ، شیک هریزج : سردآ</p>
                <p class="text-center text_cong">غ ، لوا هقبط ، ذیناپ ژاساپ ، شیک هریزج : سردآ</p>
                <p class="text-center text_cong">غ ، لوا هقبط ، ذیناپ ژاساپ ، شیک هریزج : سردآ</p>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="well well-step text-center">هریزج</div>
                    <p class="text-center text_cong">480,000</p>
                </div>
                <div class="col-md-2">
                    <div class="well well-step text-center">هریزج</div>
                    <p class="text-center text_cong">(0/00 %)</p>
                </div>
                <div class="col-md-2">
                    <div class="well well-step text-center"></div>
                </div>
                <div class="col-md-4">
                    <div class="well well-step text-center"></div>
                </div>
                <div class="col-md-2">
                    <div class="well well-step text-center"></div>
                </div>
            </div>
        </div>
    </div>
</template>
