<template name="shoppingguide">
    <div class="main-wrapper">
    <!-- {{> myrefine}} -->
        <section>
            <div class="container">
                <div class="about_us">
                    <h1 class="text-right h1 page-header" style="font-size: 3em; margin-top: 10px;">راهنمای خرید از سایت </h1>
                    <h2 class="text-right sub-header">با سپاس از حسن انتخاب و اعتماد شما به مجموعه عطری و آرایشی سفیر، راهنمای خرید اینترنتی سایت به شرح زیر می باشد:</h2>
                    <p class="text-right">
                        عضویت در سایت
                        برای انجم خرید، عضویت در سایت الزامی می باشد. با وارد کردن نام، نام خانوادگی، استان، پست الکترونیکی و رمز عبور دلخواه خود (این رمز مي بايست حداقل ٦ كاراكتر بوده و شامل يك حرف بزرگ و يك حرف كوچك باشد) به سادگی می توانید در سایت سفیر عضو شوید.
                    </p>
                    <br>
                    <h2 class="text-right sub-header"><b>مرحله اول: </b></h2>
                    <p class="text-right">
                        اضافه کردن محصول به سبد خرید 
                        جهت خرید محصول ، ابتدا محصول مورد نظر خود را انتخاب نموده و با کلیک کردن بر روی دکمه افزودن به سبد خرید، کالا ی دلخواه خود را معین می نمایید .
                    </p>
                    <br>
                    <p class="text-right">
                        •   در این مرحله توجه داشته باشید می توانید رنگ ها و حجم های مختلف آرایشی و عطری را انتخاب نمایید. برای خرید رنگ ها و یا حجم های مختلف می توانید با کلیک روی تصاویر کوچک روی نوار اسکرول شونده، حجم و رنگ دلخواه خود را انتخاب کنید. با اینکار محصول مورد نظر به سبد خرید مجازی فروشگاه اضافه خواهد شد و میتوانید در همان قسمت ، تعداد کالای درخواستی را افزایش دهید. چنانچه قصد خرید چند محصول دارید میتوانید این کار را چند بار دیگر تکرار کنید و محصولات مورد نظر خود را به سبد خرید اضافه کنید. سپس نهایی کردن سفارش را کلیک نمایید.
                    </p>
                    <h2 class="text-right sub-header"><b>مرحله دوم: </b></h2>
                    <p class="text-right">
                        مشاهده سبد خرید و اقدام به پرداخت
                        در این صفحه ضمن مشاهده محصولات سبد خرید خود،از تعداد و جزییات محصولات درخواستی آگاه می شود. با فشردن دکمه اقدام به پرداخت به مرحله بعد خواهید رفت.
                    </p>
                    <br>
                    <p class="text-right">
                        •   چنانچه در این مرحله مایل به حذف کالایی می باشد با فشردن دکمه حذف، کالا را از سبد خرید خارج کنید.
                    </p>
                    <h2 class="text-right sub-header"><b>مرحله سوم:  </b></h2>
                    <p class="text-right">
                        انتخاب آدرس ارسالی 
                        در این مرحله می توانید آدرس ارسالی سفارش خود را ویرایش کنید یا یک آدرس جدید را برای ارسال انتخاب کنید. و دکمه ارسال را بفشارید.

                    </p>
                    <br>
                    <h2 class="text-right sub-header"><b>مرحله چهارم : </b></h2>
                    <p class="text-right">
                        انتخاب روش پستی 
                        با انتخاب یکی از روش های پستی سفارشی یا پیشتاز ( پیشتاز 24 ساعت کاری و سفارشی 48 ساعت کاری) و فشردن دکمه پرداخت و درگاه بانکی هدایت خواهید شد.

                        ارسال رایگان شامل خریدهای بالای 100000 تومان می باشد و خریدهای با مبلغ کمتر از این میزان، شامل هزینه پیک به مقصد سفارش می شود.

                    </p>
                    <br>
                    <h2 class="text-right sub-header"><b>مرحله پنجم : </b></h2>
                    <p class="text-right">
                       پرداخت و اتمام خرید

                        در این مرحله با ورود به درگاه بانک سامان و وارد کردن اطلاعات کارت خود و فشردن دکمه پرداخت، اقدام به پرداخت نمایید.
                        برای پایان عملیات خرید حتما می بایست دکمه " تکمیل فرآیند خرید " را در صفحه بعد کلیک کنید.


                    </p>
                    <br>
                    <p class="text-right">
                        •   بعد از انجام این مرحله ، یک نسخه از فاکتور به آدرس ایمیل شما ارسال میگردد.
                    </p>
                    <img class="center-block" src="/images/safir_logo-01.svg" height="100">
                    <hr>
                </div>
            </div>
        </section>
    </div>
    <script>
    var swiper = new Swiper('.swiper-container', {
        /*pagination: '.swiper-pagination',*/
        slidesPerView: 1,
        paginationClickable: false,
        spaceBetween: 30,
        keyboardControl: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        autoplay: 5500
    });
    </script>
    <script>
    $(document).ready(function() {
        $(".search-push-left").hide();
        var isOn = true;
        $(function() {
            $("#btn-all").click(function() {
                console.log(isOn);
                if (isOn) {
                    isOn = false;
                    $('.search').css("width", '45%');
                    $(".search-push-left").hide();
                } else {
                    isOn = true;
                    $('.search').css("width", '72%');
                    $(".search-push-left").show();
                }
                return false;
            });
        });
    });
    </script>
    <script>
    $(document).ready(function($) {
        $('.megamenu').megaMenuCompleteSet({
            menu_speed_show: 300, // Time (in milliseconds) to show a drop down
            menu_speed_hide: 200, // Time (in milliseconds) to hide a drop down
            menu_speed_delay: 200, // Time (in milliseconds) before showing a drop down
            menu_effect: 'hover_fade', // Drop down effect, choose between 'hover_fade', 'hover_slide', etc.
            menu_click_outside: 1, // Clicks outside the drop down close it (1 = true, 0 = false)
            menu_show_onload: 0, // Drop down to show on page load (type the number of the drop down, 0 for none)
            menu_responsive: 1 // 1 = Responsive, 0 = Not responsive
        });
    });
    </script>
    <script>
    $(document).on('mouseenter', '.hold-quickview', function() {
        $(this).find(":button").show();
    }).on('mouseleave', '.hold-quickview', function() {
        $(this).find(":button").hide();
    });
    </script>
    <script>
    $(document).on('mouseenter', '.dropdown', function() {
        $(this).find(".dropdown-login").show();
    }).on('mouseleave', '.dropdown', function() {
        $(this).find(".dropdown-login").hide();
    });
    </script>
</template>
